@Html.GlimpseDownload(false)
   
<style>.protocol pre { margin-bottom:1em; }</style>

<div class="features help protocol">

    <table width="100%">
        <tr>
            <td width="50%">  
                <h2>Protocol Definition</h2>
            </td>
            <td rowspan="2" style="text-align:center; vertical-align:bottom"> 
                @*<img src="@Links.Content.Support.GlimpsePlatform_jpg" />*@
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <p>The Glimpse Protocol is what makes Glimpse unique. It may soon like something complicated 
                but in reality it's only a JavaScript object that is interpreted and rendered.</p>
                <p>The interpretation that occurs simply makes certain assumptions about how data that is 
                structured a particular way should be formatted. The bellow documents these assumptions.</p>
                <br /> 
            </td> 
        </tr>
    </table>
 
    @Menu.HelpMenu(Html, false, 6) 

    <h3>Live Tester</h3>
    <div class="protocol-tester">
        <div>
            To test your structure and how it will look simply paste your sample in the below text area and 
            watch how it renders. Note this is not a schema validation, hence it is intended to be simply 
            a visual render guide.
        </div>
        <h4>Sample</h4>
        <textarea class="glimpse-sample" style="width:100%; height:200px;">
{
    "Movie" : "Star Wars",
    "Genera/Theme" : "Science Fiction",
    "GlimpseOn" : "True",
    "Plot & Description" : "Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader."
}
        </textarea>
        <div style="padding:0.5em 0; text-align:center;">
            <a href="#" class="myButton glimpse-sample-trigger">Preview</a>
        </div>
        <h4>Rendered Result</h4>
        <div class="glimpse-scenario glimpse glimpse-scenario-example glimpse-panel"></div>
    </div>

    <h3>Living Documentation</h3>
    <div class="protocol-example">
        <!--<table style="margin-left:-250px; width:1400px;">-->
        <table style="width:100%">
            <tr>
                <td>
                    <h4>Scenario 1 (Pass):</h4>
                    Simple key value pair table based of the properties and values of json
                    object. Note, strings that exceed the max string length are trimmed and summaried
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioOneData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "GlimpseOn" : "True",
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-one glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 2 (Pass):</h4>
                    More complex table based on the items in a matrix array (note that row 
                    0 is used as the title of the table)
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioTwoData = [
        [ "Actor", "Character", "Gender", "Age" ],
        [ "Mark Hamill", "Luke Skywalker", "Male", "21" ],
        [ "James Earl Jones", "Darth Vader", "Male", "45", "quiet" ],
        [ "Harrison Ford", "Han Solo", "Male", "25" ],
        [ "Carrie Fisher", "Princess Leia Organa", "Female", "21" ],
        [ "Peter Cushing", "Grand Moff Tarkin", "Female", "69" ],
        [ "Alec Guinness", "Ben Obi-Wan Kenobi", "Female", "70", "selected" ],
        [ "Anthony Daniels", "C-3PO", "Droid", "101" ],
        [ "Kenny Baker", "R2-D2", "Droid", "150" ]
    ];</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-two glimpse-panel"></td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioTwoDataA = [
        [ "Actor", "Character", "Gender", "Age" ],
        [ "Mark Hamill", "Luke Skywalker", "Male", "21", "ms" ],
        [ "James Earl Jones", "Darth Vader", "Male", "45", "info" ],
        [ "Harrison Ford", "Han Solo - Solo plays a central role in the various Star 
                            Wars set after Return of the Jedi. In The Courtship of 
                            Princess Leia (1995), he resigns his commission to 
                            pursue Leia, whom he eventually marries.", "Male", "25" ],
        [ "Carrie Fisher", "Princess Leia Organa", "Female", "21" ],
        [ "Peter Cushing", "Grand Moff Tarkin", "Female", "69" ],
        [ "Alec Guinness", "Ben Obi-Wan Kenobi", "Female", "70", "warn" ],
        [ "Anthony Daniels", "C-3PO", "Droid", "101" ],
        [ "Kenny Baker", "R2-D2 - R2-D2 and C-3PO are abducted by Jawas and bought 
                            by Owen Lars, step-uncle of Luke Skywalker. While Luke 
                            cleans the sand out of R2-D2\"s gears, he discovers a 
                            fragment of Leia\"s message, and removes the droid"s 
                            restraining bolt to see more; once free of the bolt, 
                            R2 claims to have no knowledge of the message.", "Droid", "150" ],
        [ "Peter Mayhew", "Chewbacca", "Wookie", "45" ],
        [ "Phil Brown", "Uncle Owen", "Male", "32", "error" ],
        [ "Shelagh Fraser", "Aunt Beru", "Female", "29" ],
        [ "Alex McCrindle", "General Dodonna", "Male", "43", "fail" ]
    ];</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-two-a glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 3 (Pass):</h4>
                    When a complex child object of type matrix table is encountered,
                    it is rendered as a complex table. Note, when a child listing has a
                    string property or attribute that exceeds the max summary string length,
                    it is trimmed and summaried 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioThreeData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : [
                [ "Actor", "Character", "Gender", "Age" ],
                [ "Mark Hamill", "Luke Skywalker", "Male", "21" ],
                [ "James Earl Jones", "Darth Vader", "Male", "45" ]
            ],
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-three glimpse-panel"></td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioThreeDataA = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : [
                [ "Actor", "Character", "Gender", "Age" ],
                [ "Mark Hamill", "Luke Skywalker - Luke Skywalker was a legendary war
                                 hero and Jedi who helped defeat the Galactic
                                 Empire in the Galactic Civil War and helped 
                                 found the New Republic, as well as the New 
                                 Jedi Order.", "Male", "21" ],
                [ "James Earl Jones", "Darth Vader", "Male", "45" ],
            ],
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-three-a glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 4 (Pass):</h4>
                    When a complex child object of type matrix table is encountered 
                    that exceeds the max of child items that can be rendered, it is 
                    rendered in an abbreviated form
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioThreeData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : [
                [ "Actor", "Character", "Gender", "Age" ],
                [ "Mark Hamill", "Luke Skywalker", "Male", "21" ],
                [ "James Earl Jones", "Darth Vader", "Male", "45" ],
                [ "Harrison Ford", "Han Solo", "Male", "25" ],
                [ "Carrie Fisher", "Princess Leia Organa", "Female", "21" ],
                [ "Peter Cushing", "Grand Moff Tarkin", "Female", "69" ],
                [ "Alec Guinness", "Ben Obi-Wan Kenobi", "Female", "70" ],
                [ "Anthony Daniels", "C-3PO", "Droid", "101" ],
                [ "Kenny Baker", "R2-D2", "Droid", "150" ]
            ],
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-four glimpse-panel"></td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioThreeData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : [
                [ "Actor", "Character", "Gender", "Age" ],
                [ "Mark Hamill", "Luke Skywalker - Luke Skywalker was a legendary 
                                    war hero and Jedi who helped defeat the Galactic 
                                    Empire in the Galactic Civil War and helped found
                                    the New Republic, as well as the 
                                    New Jedi Order.", "Male", "21" ],
                [ "James Earl Jones", "Darth Vader", "Male", "45" ],
                [ "Harrison Ford", "Han Solo", "Male", "25" ],
                [ "Carrie Fisher", "Princess Leia Organa", "Female", "21" ],
                [ "Peter Cushing", "Grand Moff Tarkin", "Female", "69" ],
                [ "Alec Guinness", "Ben Obi-Wan Kenobi", "Female", "70" ],
                [ "Anthony Daniels", "C-3PO", "Droid", "101" ],
                [ "Kenny Baker", "R2-D2", "Droid", "150" ]
            ],
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-four-a glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 5 (Pass):</h4>
                    When a json child object is encountered, it is rendered as a 
                    simple key value pair table
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioThreeData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : { 
                "Mark Hamill" : "Luke Skywalker",
                "James Earl Jones" : "Darth Vader",
                "Harrison Ford" : "Han Solo" 
            },
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-five glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 6 (Pass):</h4>
                    When a json child object is encountered table that exceeds the max
                    of child items that can be rendered, it is rendered in an abbreviated form
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioThreeData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : { 
                "Mark Hamill" : "Luke Skywalker",
                "James Earl Jones" : "Darth Vader",
                "Harrison Ford" : "Han Solo",
                "Carrie Fisher" : "Princess Leia Organa",
                "Peter Cushing" : "Grand Moff Tarkin",
                "Alec Guinness" : "Ben Obi-Wan Kenobi",
                "Anthony Daniels" : "C-3PO",
                "Kenny Baker" : "R2-D2"
            },
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-six glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 7 (Pass):</h4>
                    When a complex child object of type matrix table is encountered,
                    it is rendered as a complex table. Note, when a child listing has a
                    string property or attribute that exceeds the max summary string length,
                    it is trimmed and summaried 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioSevenData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : [
                [ "Actor", "Character", "Gender", "Age" ],
                [ "Mark Hamill", "Luke Skywalker", "Male", "21" ],
                [ "James Earl Jones", "Darth Vader", "Male", "45" ]
            ],
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-seven glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 8 (Pass):</h4>
                    When a complex child object of type matrix table is encountered 
                    that exceeds the max of child items that can be rendered, it is 
                    rendered in an abbreviated form
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioEightData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : [
                [ "Actor", "Character", "Gender", "Age" ],
                [ "Mark Hamill", "Luke Skywalker", "Male", "21" ],
                [ "James Earl Jones", "Darth Vader", "Male", "45" ],
                [ "Harrison Ford", "Han Solo", "Male", "25" ],
                [ "Carrie Fisher", "Princess Leia Organa", "Female", "21" ],
                [ "Peter Cushing", "Grand Moff Tarkin", "Female", "69" ],
                [ "Alec Guinness", "Ben Obi-Wan Kenobi", "Female", "70" ],
                [ "Anthony Daniels", "C-3PO", "Droid", "101" ],
                [ "Kenny Baker", "R2-D2", "Droid", "150" ]
            ],
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-eight glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 9 (Pass):</h4>
                    When a json child object is encountered, it is rendered as a 
                    simple key value pair table
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioNineData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : { 
                "Mark Hamill" : "Luke Skywalker",
                "James Earl Jones" : "Darth Vader",
                "Harrison Ford" : "Han Solo" 
            },
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-nine glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 10 (Pass):</h4>
                    When a json child object is encountered table that exceeds the max
                    of child items that can be rendered, it is rendered in an abbreviated form
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioTenData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : { 
                "Mark Hamill" : "Luke Skywalker",
                "James Earl Jones" : "Darth Vader",
                "Harrison Ford" : "Han Solo",
                "Carrie Fisher" : "Princess Leia Organa",
                "Peter Cushing" : "Grand Moff Tarkin",
                "Alec Guinness" : "Ben Obi-Wan Kenobi",
                "Anthony Daniels" : "C-3PO",
                "Kenny Baker" : "R2-D2"
            },
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-ten glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 11 (Pass):</h4>
                
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioThreeData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : [
                [ "Actor", "Character", "Gender", "Age" ],
                [ "Mark Hamill", "Luke Skywalker", "Male", "21" ],
                [ "James Earl Jones", "Darth Vader", "Male", "45" ]
            ],
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-eleven glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 12 (Pass):</h4> 

                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioThreeData = {
        "Movie" : "Star Wars",
        "Genera/Theme" : "Science Fiction",
        "Actors/Cast" : [
                [ "Actor", "Character", "Gender", "Age" ],
                [ "Mark Hamill", "Luke Skywalker", "Male", "21" ],
                [ "James Earl Jones", "Darth Vader", "Male", "45" ],
                [ "Harrison Ford", "Han Solo", "Male", "25" ],
                [ "Carrie Fisher", "Princess Leia Organa", "Female", "21" ],
                [ "Peter Cushing", "Grand Moff Tarkin", "Female", "69" ],
                [ "Alec Guinness", "Ben Obi-Wan Kenobi", "Female", "70" ],
                [ "Anthony Daniels", "C-3PO", "Droid", "101" ],
                [ "Kenny Baker", "R2-D2", "Droid", "150" ]
            ],
        "Plot & Description" : "Luke Skywalker leaves his home planet, 
                                teams up with other rebels, and tries to 
                                save Princess Leia from the evil clutches 
                                of Darth Vader."
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-twelve glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 13 (Pass):</h4> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data">
    <pre>var scenarioThreeData = {
        "Movie": [ "Star Wars", "Star Treck"],
        "Genera/Theme": [ "Science Fiction", "Drama", "Romance", "Action", "Family" ],
        "Actors/Cast": [
                ["Actor", "Character", "Gender", "Age"],
                ["Mark Hamill", [ "Luke Skywalker", "Mini Skywalker" ], 
                            "Male", "21"],
                ["James Earl Jones", "Darth Vader", [["Height", "Weight"], 
                                            ["213", "433"], ["123", "45"]], "Male"],
                ["Harrison Ford", "Han Solo", "Male", "25"],
                ["Carrie Fisher", [ "Princess Leia Organa" ], "Female", "21"],
                ["Peter Cushing", [ "Grand Moff Tarkin", "Grand Moff Tarkin Grand Moff Tarkin 
                                    Grand Moff Tarkin Grand Moff Tarkin Grand Moff Tarkin Grand 
                                    Moff Tarkin Grand Moff Tarkin" ], "Female", "69"],
                ["Alec Guinness", "Ben Obi-Wan Kenobi", "Female", "70"],
                ["Anthony Daniels", "C-3PO", "Droid", "101"],
                ["Kenny Baker", "R2-D2", "Droid", "150"]
            ],
        "Plot & Description": [ "Luke Skywalker leaves his home planet, teams up with 
                                other rebels, and tries to save Princess Leia from the 
                                evil clutches of Darth Vader." ]
    };</pre> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-thirteen glimpse-panel"></td>
            </tr>
            <tr>
                <td>
                    <h4>Scenario 14 (Pass):</h4> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data"> 
    <pre>var scenarioFourteenData = [
        ['Actor', 'Character', 'Gender', 'Age', 'Height'],
        ['Mark Hamill', 'Luke Skywalker', 'Male', '21', '1' ],
        ['James Earl Jones', 'Darth Vader', 'Male', '45', '4', 'info' ],
        ['Harrison Ford', 'Han Solo - Solo plays a central role in the various 
                            Star Wars set after Return of the Jedi. In The Courtship 
                            of Princess Leia (1995), he resigns his commission to 
                            pursue Leia, whom he eventually marries.', 'Male', '25', '9'],
        ['Carrie Fisher', 'Princess Leia Organa', 'Female', '21', '8'],
        ['Peter Cushing',  [
                ['Actor', 'Character', 'Gender', 'Age'],
                ['Mark Hamill', 'Luke Skywalker', 'Male', '21'],
                ['James Earl Jones', 'Darth Vader', 'Male', '45']
            ], 'Female', '69', '1'],
        ['Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70', '9' ],
        ['Anthony Daniels',  [
                ['Actor', 'Character', 'Gender', 'Age'],
                ['Mark Hamill', 'Luke Skywalker', 'Male', '21'],
                ['James Earl Jones', 'Darth Vader', 'Male', '45'],
                ['Mark Hamill', 'Luke Skywalker', 'Male', '21'],
                ['James Earl Jones', 'Darth Vader', 'Male', '45'],
                ['Mark Hamill', 'Luke Skywalker', 'Male', '21'],
                ['James Earl Jones', 'Darth Vader. R2-D2 - R2-D2 and C-3PO are abducted by 
                        Jawas and bought by Owen Lars, step-uncle of Luke Skywalker. Darth Vader.
                        R2-D2 - R2-D2 and C-3PO are abducted by Jawas and bought by Owen Lars, 
                        step-uncle of Luke Skywalker. Darth Vader. R2-D2 - R2-D2 and C-3PO are 
                        abducted by Jawas and bought by Owen Lars, step-uncle of Luke Skywalker.', 'Male', '45'],
                ['James Earl Jones', 'Darth Vader', 'Male', '45'],
                ['Mark Hamill', 'Luke Skywalker', 'Male', '21'],
                ['James Earl Jones', 'Darth Vader', 'Male', '45'],
                ['Mark Hamill', 'Luke Skywalker', 'Male', '21'],
                ['James Earl Jones', 'Darth Vader', 'Male', '45']
            ], 'Droid', '101', '2'],
        ['Kenny Baker', 'R2-D2 - R2-D2 and C-3PO are abducted by Jawas and bought by Owen Lars, 
                    step-uncle of Luke Skywalker. While Luke cleans the sand out of R2-D2\'s gears, 
                    he discovers a fragment of Leia\'s message, and removes the droid\'s restraining
                    bolt to see more; once free of the bolt, R2 claims to have no knowledge of the message. 
                    R2-D2 - R2-D2 and C-3PO are abducted by Jawas and bought by Owen Lars, step-uncle of 
                    Luke Skywalker. While Luke cleans the sand out of R2-D2\'s gears, he discovers a 
                    fragment of Leia\'s message, and removes the droid\'s restraining bolt to see more; 
                    once free of the bolt, R2 claims to have no knowledge of the message. R2-D2 - R2-D2 
                    and C-3PO are abducted by Jawas and bought by Owen Lars, step-uncle of Luke Skywalker...', 'Droid', '150', '6']
    ];
    var scenarioFourteenMetadata = [
            [ { data : 0, width : '200px', key : true, align : 'right' }, { data : 1, rspan : 3} ],
            [ { data : 2, align : 'right' } ],
            [ { data : '{{3}} - {{4}}', align : 'right' } ]
        ];</pre>
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-fourteen glimpse-panel"></td>
            </tr> 
            <tr>
                <td>
                    <h4>Scenario 15 (Pass):</h4> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data"> 
    <pre>var scenarioFifteenData = [
        ['Actor', 'Gender', 'Age', 'Height', 'Character'],
        ['Mark Hamill', 'Male', '21', '2', '-- Search for Cataclysmic Variables and pre-CVs with White Dwarfs and \r\n-- very 
                    late secondaries. Just uses some simple color cuts from Paula Szkody.  \r\n-- Another simple query that uses 
                    math in the WHERE clause  \r\n\r\nSELECT run, \r\n\tcamCol, \r\n\trerun, \r\n\tfield, \r\n\tobjID, \r\n \tra 
                    -- Just get some basic quantities \r\nFROM PhotoPrimary	 -- From all primary detections, regardless of class 
                    \r\nWHERE u - g < 0.4 \r\n\tand g - r < 0.7 \r\n\tand r - i > 0.4 \r\n\tand i - z > 0.4 -- that meet the color criteria' ],
        ['James Earl Jones', 'Male', '45', '5', '-- Low-z QSO candidates using the color cuts from Gordon Richards. \r\n-- 
                    Also a simple query with a long WHERE clause. \r\n\r\nSELECTg,\r\n\trun,\r\n\trerun,\r\n\tcamcol,\r\n\tfield,
                    \r\n\tobjID\r\nFROMGalaxy\r\nWHERE ( (g <= 22)\r\n\tand (u - g >= -0.27)\r\n\tand (u - g < 0.71)\r\n\tand 
                    (g - r >= -0.24)\r\n\tand (g - r < 0.35)\r\n\tand (r - i >= -0.27)\r\n\tand (r - i < 0.57)\r\n\tand (i - z >= -0.35)
                    \r\n\tand (i - z < 0.70) )' ],
        ['Carrie Fisher', 'Female', '21', '3', '-- Using object counting and logic in a query. \r\n-- Find all objects similar to the colors
                     of a quasar at 5.5 \r\n\r\nSELECT count(*) as \'total\',\r\n\tsum( case when (Type=3) then 1 else 0 end) as 
                     \'Galaxies\',\r\n\tsum( case when (Type=6) then 1 else 0 end) as \'Stars\',\r\n\tsum( case when (Type not in (3,6)) 
                     then 1 else 0 end) as \'Other\'\r\nFROM PhotoPrimary	 -- for each object\r\nWHERE (( u - g > 2.0) or (u > 22.3) ) 
                     -- apply the quasar color cut.\r\n\tand ( i between 0 and 19 )\r\n\tand ( g - r > 1.0 )\r\n\tand ( (r - i < 0.08 + 
                     0.42 * (g - r - 0.96)) or (g - r > 2.26 ) )\r\n\tand ( i - z < 0.25 )' ], 
        ['Alec Guinness', 'Female', '70', '9', '-- This is a query from Robert Lupton that finds selected neighbors in a given run and 
                    \r\n-- camera column. It contains a nested query containing a join, and a join with the \r\n-- results of the nested 
                    query to select only those neighbors from the list that meet \r\n-- certain criteria. The nested queries are required 
                    because the Neighbors table does \r\n-- not contain all the parameters for the neighbor objects. This query also 
                    contains \r\n-- examples of setting the output precision of columns with STR. \r\n\r\nSELECT\r\n\tobj.run, obj.camCol, 
                    str(obj.field, 3) as field,\r\n\tstr(obj.rowc, 6, 1) as rowc, str(obj.colc, 6, 1) as colc,\r\n\tstr(dbo.fObj(obj.objId), 
                    4) as id,\r\n\tstr(obj.psfMag_g - 0*obj.extinction_g, 6, 3) as g,\r\n\tstr(obj.psfMag_r - 0*obj.extinction_r, 6, 3) as 
                    r,\r\n\tstr(obj.psfMag_i - 0*obj.extinction_i, 6, 3) as i,\r\n\tstr(obj.psfMag_z - 0*obj.extinction_z, 6, 3) as z,
                    \r\n\tstr(60*distance, 3, 1) as D,\r\n\tdbo.fField(neighborObjId) as nfield,\r\n\tstr(dbo.fObj(neighborObjId), 4) as 
                    nid,\'new\' as \'new\' \r\nFROM\r\n\t\t(SELECT obj.objId,\r\n\t\t\trun, camCol, field, rowc, colc,\r\n\t\t\tpsfMag_u, 
                    extinction_u,\r\n\t\t\tpsfMag_g, extinction_g,\r\n\t\t\tpsfMag_r, extinction_r,\r\n\t\t\tpsfMag_i, extinction_i,\r\n
                    \t\t\tpsfMag_z, extinction_z,\r\n\t\t\tNN.neighborObjId, NN.distance\r\n\t\tFROM PhotoObj as obj\r\n\t\t\tJOIN neighbors 
                    as NN on obj.objId = NN.objId\r\n\t\tWHERE 60*NN.distance between 0 and 15 and\r\n\t\t\tNN.mode = 1 and NN.neighborMode 
                    = 1 and\r\n\t\t\trun = 756 and camCol = 5 and\r\n\t\t\tobj.type = 6 and (obj.flags & 0x40006) = 0 and\r\n\t\t\tnchild = 0 
                    and obj.psfMag_i < 20 and\r\n\t\t\t(g - r between 0.3 and 1.1 and r - i between -0.1 and 0.6)\r\n\t\t) as obj \r\nJOIN 
                    PhotoObj as nobj on nobj.objId = obj.neighborObjId \r\nWHERE\r\n\tnobj.run = obj.run and\r\n\t(abs(obj.psfMag_g - 
                    nobj.psfMag_g) < 0.5 or\r\n\tabs(obj.psfMag_r - nobj.psfMag_r) < 0.5 or\r\n\tabs(obj.psfMag_i - nobj.psfMag_i) < 0.5) 
                    \r\nORDER BY obj.run, obj.camCol, obj.field ' ]
    ];
    var scenarioFifteenMetadata = [
            [ { data : 0, width : '200px', key : true, align : 'right' }, { data : 4, rspan : 4, isCode : true, codeType : 'sql' } ],
            [ { data : 1, align : 'right' } ],
            [ { data : 2, align : 'right', post : ' ms' } ],
            [ { data : 3, align : 'right', pre : '+ ', post : ' ms' } ]
        ];</pre>
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-fifteen glimpse-panel"></td>
            </tr> 
            <tr>
                <td>
                    <h4>Scenario 16 (Pass):</h4> 
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario-data"> 
    <pre>var scenarioSixteenData = [
        ['Actor', 'Character', 'Gender', 'Age'],
        ['Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
        ['James Earl Jones', 'Darth Vader', 'Male', '45', 'info' ],
        ['Carrie Fisher', 'Princess Leia Organa', 'Female', '21'], 
        ['Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70' ]
    ];
    var scenarioSixteenMetadata = [
            [ { data : '{{0}} - ({{1}})', key : true }, { data : 2, width : '20%' }, { data : 3, width : '20%' } ]
        ];</pre>
                </td>
            </tr>
            <tr>
                <td class="glimpse-scenario glimpse glimpse-scenario-sixteen glimpse-panel"></td>
            </tr>
        </table>
    </div>
</div>


@section scripts { 

<script src="@Links.Scripts.Protocol.LayoutExample_js"></script> 
@Html.GlimpseScript()

}