
<h2>Ajax Tab</h2>

<div class="plugin-summary">
    <p>The Ajax tab allows you to view the Glimpse data associated with any ajax requests that have been made from 
    your page.</p>
</div>

<div class="plugin-layout">
    <h3>Layout</h3> 
    <img src="@Links.Content.Plugin.Ajax_jpg" /> 
    <ol class="plain">
        <li><span>Request URL</span>: The URL that was accessed by the Ajax request</li>
        <li><span>Status</span>: Status of the resulting response from the server</li>
        <li><span>Date/Time</span>: Date time of the request</li>
        <li><span>Duration</span>: Approximate duration of the request</li>
        <li><span>Is Async</span>: Whether the request was async/sync</li>
        <li><span>Inspect</span>: Allows you to select the request you wish to inspect</li>
    </ol> 
</div>

<div class="plugin-faq">
    <h3>Frequently Asked Questions</h3> 
    <ol class="plain">
        <li>
            <div>What happen to my Ajax requests after I leave the page?</div>
            Its important to remember that by default Glimpse remembers the last 15 requests that where made to the 
            server. This goes for both non ajax requests and ajax requestions alike. Hence, even after you leave a 
            page (when normally you may think your requests are lost) you can go to the remote tab to pull up these 
            previous requests.
        </li> 
        <li>
            <div>I'm seeing requests my requests crossed out, what does this mean?</div>
        </li> 
    </ol>
</div> 