
<h2>Ajax Tab</h2>

<div class="plugin-summary">
    <p>The Ajax tab allows you to view the Glimpse data associated with any ajax requests that have been made from 
    your page.</p>
</div>

<div class="plugin-layout">
    <h3>Layout</h3> 
    <img src="@Links.Content.Plugin.Ajax_jpg" /> 
    <ol class="plain">
        <li><span>Request URL</span>: The URL that was accessed by the Ajax request</li>
        <li><span>Status</span>: Status of the resulting response from the server</li>
        <li><span>Date/Time</span>: Date time of the request</li>
        <li><span>Duration</span>: Approximate duration of the request</li>
        <li><span>Is Async</span>: Whether the request was async/sync</li>
        <li><span>Inspect</span>: Allows you to select the request you wish to inspect</li>
    </ol> 


<p>By default the Glimpse panel shows information about the web page currently shown in your browser. It is likely that your page contains JavaScript that makes further requests to the server using Ajax. Because this is happening in the background and no new page is loaded in the browser, the Glimpse panel does not show information about those requests.</p>
<p>The Ajax tab comes to the rescue. In its initial state it displays basic information about every Ajax call that is made on the page. While the plugin based tabs are static after the page has been loaded, the Ajax tab is updated every time an Ajax request is executed.</p>
<p>To learn more about a particular Ajax request, click on the 'Launch' link at the right end of the panel. This will change the context of the Glimpse panel from the original web page request to the Ajax request itself. Now all the other tabs are showing the information about the Ajax request. When you done investigating the Ajax request, you can 'Launch' another one from the list or return to the page content by clicking the 'Reset context back to the starting page' link.</p>
<p>The Ajax request currently looked at is highlighted in yellow.</p>


</div>

<div class="plugin-faq">
    <h3>Frequently Asked Questions</h3> 
    <ol class="plain">
        <li>
            <div>What happen to my Ajax requests after I leave the page?</div>
            Its important to remember that by default Glimpse remembers the last 15 requests that where made to the 
            server. This goes for both non ajax requests and ajax requestions alike. Hence, even after you leave a 
            page (when normally you may think your requests are lost) you can go to the remote tab to pull up these 
            previous requests.
        </li> 
        <li>
            <div>I'm seeing requests my requests crossed out, what does this mean?</div>
            This means the request was identified as a Ajax request (we do this by looking for an http header "X-Requested-With" with the value "XMLHttpRequest" 
            in the request) but for some reason Glimpse did not provide the debug data on the server. 
            This may be because you are using a Content-Type other that text/html in your Ajax calls. 
            Many people use JSON or XML as there content type. To enable Glimpse for such requests 
            add the following to the Glimpse configuration node:

            <pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">contentTypes</span><span class="kwrd">&gt;</span>
   <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">contentType</span><span class="kwrd">="text/html"</span> <span class="kwrd">/&gt;</span>
   <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">contentType</span><span class="kwrd">="text/xml"</span> <span class="kwrd">/&gt;</span>
   <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">contentType</span><span class="kwrd">="application/json"</span> <span class="kwrd">/&gt;</span>
<span class="kwrd">&lt;/</span><span class="html">contentTypes</span><span class="kwrd">&gt;</span>
</pre>
        </li> 
    </ol>
</div> 

<div class="plugin-faq">
    <h3>How does it work</h3> 

<p>While for a normal page request, Glimpse adds the "debug data" to the end of the page, this is not possible for an Ajax request.</p>
<p>Instead it saved the debug information for the request on the server and creates a unique Id to identify it. This Id is then send to the browser in the http header of the Ajax response. The Glimpse client side component picks up that Id and issues a new request to the server to get the debug information. When you click the 'Launch' link it re-fills the Glimpse panel with the information of the Ajax request.</p>

</div> 