
<h2>Config Tab</h2>

<div class="plugin-summary">
    <p>The Config tab shows web.config data that you might find yourself needing to reference during the course of debugging.</p>
</div>

<div class="plugin-layout">
    <h3>Layout</h3> 
    <img src="@Links.Content.Plugin.config_png" />
    <dl class="plain">
        <dt>Key</dt>
            <dd>The key column shows the name of an xml element found in the site's main web.config file.</dd>
        <dt>Value</dt>
            <dd>The value column displays selected information about the given element.</dd>
    </dl>
</div>