
<h2>Environment Tab</h2>

<div class="plugin-summary">
    <p>The Environment tab provides information about the server that responded the the request. This tab is particularly useful in web farm/load balanced scenarios, when it can be difficult to know which server handled the request.</p>
</div>

<div class="plugin-layout">
    <h3>Layout</h3> 
    <img src="@Links.Content.Plugin.Environment_jpg" />
    <ol class="plain">
        <li><span>Key</span>: The key column list the names of values pertinent to the server that responded to the request</li>
        <li><span>Value</span>: The value for the given key. Some values require additional explanation:
            <ul class="plain">
                <li><span>Environment Name</span>: 
                    <p>This value represents the name you/your team call the environment that responded to the request. Typically environments go by names such as "local", "qa", "test", "staging" or "production".</p>
                    <p>The Environment Name will only be made available by providing Glimpse additional &lt;environments&gt; configuration data, as seen in this sample:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">glimpse</span> <span class="attr">enabled</span><span class="kwrd">="true"</span><span class="kwrd">&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">environments</span><span class="kwrd">&gt;</span>
        <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">name</span><span class="kwrd">="Dev"</span> <span class="attr">authority</span><span class="kwrd">="localhost:55555"</span><span class="kwrd">/&gt;</span>
        <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">name</span><span class="kwrd">="Prod"</span> <span class="attr">authority</span><span class="kwrd">="getglimpse.com"</span><span class="kwrd">/&gt;</span>
    <span class="kwrd">&lt;/</span><span class="html">environments</span><span class="kwrd">&gt;</span>
<span class="kwrd">&lt;/</span><span class="html">glimpse</span><span class="kwrd">&gt;</span></pre>

                </li>
                <li><span>Machine Name</span>: Name of the machine that the site is running on</li>
                <li><span>Booted</span>: When the machine was last booted</li>
                <li><span>Operating sysgtem</span>: Current running Operating System</li>
                <li><span>.NET Framework</span>: Current version of the .NET Framework that is installed</li>
                <li><span>Web Server</span>: What web server is running (in this case Visual Studio's Web Dev Server is running)</li>
                <li><span>Intergrated Pipeline</span>: Whether the site is running in Intergrated Pipeline mode or not</li>
                <li><span>Worker Process</span>: The name of the worker process that is running the site</li>
                <li><span>Current Trust Level</span>: Trust level that the site is operated in</li>
                <li><span>System Assemblies</span>: Lists assemblies loaded in memory that have names starting with System.* or Microsoft.*</li>
                <li><span>Application Assemblies</span>: Lists all other assemblies loaded in memory</li>
            </ul>
        </li>
    </ol>
</div>


<div class="plugin-faq">
    <h3>Frequently Asked Questions</h3> 
    <ol class="plain">
        <li>
            <div>I'm seeing 1 or more DLL's under the Application Assemblies section that have names begining with "App_Web_", what are these?</div>
            Each folder containing htmlcs, aspx, or ascx files will compile into a dll prefixed with App_Web. The compiler generates special filenames to avoid naming collisions.
        </li>
        <li>
            <div>I'm seeing other files with funny names?</div>
            These are most likely assemblies that have been dynamicly generated at run time and contain proxy classes. Frameworks such as Entity Framework offten use 
            such techniques. 
        </li>
    </ol>
</div>