
<h2>Execution Tab</h2>

<div class="plugin-summary">
    <p>The Execution tab shows the execution pipeline that was run to build the current page.</p>
</div>

<div class="plugin-layout">
    <h3>Layout</h3> 
    <img src="@Links.Content.Plugin.Execution_jpg" />
    <!--
    <ol class="plain">
        <li><span>Key</span>: The key column shows the name of an xml element found in the site's main web.config file</li>
        <li><span>Value</span>: The value column displays selected information about the given element</li>
        <li><span>AppSettings</span>: All the app settings that you currently have defined</li>
        <li><span>ConnectionStrings</span>: Any connection strings that are present</li>
        <li><span>CustomErrors</span>: How you have configurered custom errors to work within your site</li>
        <li><span>Authentication</span>: How authentication is currently configurered</li>
    </ol>
    -->
</div>

<div class="soon">More information coming soon...</div>

<!--
<div class="plugin-faq">
    <h3>Frequently Asked Questions</h3> 
    <ol class="plain">
        <li>
            <div>I've got data in my config that I don't want to be included in the render output (i.e. passwords)?</div>
            First of all, understand that having plain text passwords isn't remomended and various techniques can be used 
            to encrypt them. But we understand that for what ever reason this may not be possible and hence have made the 
            glimpse processing pipeline plugable, so you can remove this data. TODO@@nikmd23
        </li>
        <li>
            <div>I want to add extra config data from my own external config sources?</div>
            Again the Glimpse framework is extremly plugable and with the implementation of a simple class you can 
            add data into the Glimpse Config Tab. TODO@@nikmd23
        </li>
    </ol>
</div>
-->