
<h2>Metadata Tab</h2>

<div class="plugin-summary">
    <p>The Metadata tab shows the model metadata that MVC has used to build the page you are on.</p>
</div>

<div class="plugin-layout">
    <h3>Layout</h3> 
    <img src="@Links.Content.Plugin.Metadata_jpg" /> 
    <ol class="plain">
        <li><span>Registration</span>: Where the metadata is coming from (see more information below)</li>
        <li><span>Type</span>: Type of the model that the metadata is for</li>
        <li><span>Details</span>: The various properties that make up the metadata</li>
    </ol> 
</div>

<div class="plugin-know">
    <h3>Did you know</h3> 
    <ul class="plain">
        <li>
            <span>That we don't show the metadata for complex properties of the View Models</span>: We have 
            purposefully not shown the metadata for the properties of complex properties not because of any technical 
            limitations but because of lack of a meaningful way of showing the data. As the data can be recursive in nature 
            or could have many levels, it's difficult to make the UI work. Hence for now we have chosen this approach. 
            If you think you know of a way that we can get around this let us know. 
        </li>
    </ul>
</div>

<div class="plugin-faq">
    <h3>Frequently Asked Questions</h3> 
    <ol class="plain">
        <li>
            <div>What are the "Primary View Model" and "View Model Properties" all about?</div>
            In an effort to best try and represent the available metadata we have broken the data up as follows:
            <ul class="plain">
                <li><span>Primary View Model</span>: Shows the metadata associated with the root View Model of the view.</li>
                <li><span>View Model Properties</span>: Shows the metadata associated for each of the properties of the root View Model of the view.</li>
            </ul>
        </li>
        <li>
            <div>What are the bolded properties?</div>
            The bolded properties simply represent values that differ from the default. This is designed to help show you what metadata 
            is being set.
        </li>
    </ol>
</div> 