
<h2>Remote Plugin</h2>

<div class="plugin-summary">
    The Remote plugin is one of Glimpse's most powerful features. The plugin goes architecture has both client and server components. 
    The plugin allows you to view requests from not only your own browser, but from other devices in any location. This allows for 
    several interesting use cases, including mobile debugging, remote client debugging, tracking workflows, etc.
</div>

<!--
<div class="plugin-video">
    <object width="620" height="380"><param name="movie" value="http://www.youtube.com/v/ke8Rw2BGPG0&rel=0&hl=en_US&feature=player_embedded&version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowScriptAccess" value="always"></param><embed src="http://www.youtube.com/v/ke8Rw2BGPG0&rel=0&hl=en_US&feature=player_embedded&version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="620" height="380"></embed></object>
</div>
-->
    
<div class="plugin-howto">
    <h3>Usage</h3>
        
    <table width="100%">
        <tr>
            <td width="30%"><h4><span class="header-number">1)</span> Watch</h4></td> 
            <td rowspan="2" width="4%"><img src="@Links.Content.cs_rightImg_png" style="margin:5em 0 0 0;" /></td>
            <td width="30%"><h4><span class="header-number">2)</span> Select</h4></td> 
            <td rowspan="2" width="4%"><img src="@Links.Content.cs_rightImg_png" style="margin:5em 0 0 0;" /></td>
            <td width="32%"><h4><span class="header-number">3)</span> Rename</h4></td> 
        </tr>
        <tr>
            <td style="padding-left:0.5em;">
                Watch the Client Session Panel for a client that you are interested in.
            </td>
            <td style="padding-left:0.5em;"> 
                Once target client appears, select it and select the target clients request you are after.
            </td>
            <td style="padding-left:0.5em;"> 
                At any time a can change your clients name by going to the following an setting the name:
                <ul class="plain">
                    <li>http://yoursite.com/Glimpse/Remote, or</li>
                    <li>http://127.0.0.1/Glimpse/Remote</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
    
<div class="plugin-layout">
    <h3>Layout</h3> 
    <img src="@Links.Content.Plugin.Remote_jpg" />
    <ol class="plain">
        <li><span>Client Session Panel</span>: List of available client session's</li>
        <li><span>Client Request Panel</span>: List of available client request's</li>
        <li><span>Client Name</span>: Name given to the session that is being tracked by Glimpse</li>
        <li><span>Method</span>: HTTP method used for the individual request (typcially GET or POST)</li>
        <li><span>Request URL</span>: URL that can be used identity individual requests</li>
        <li><span>Browser</span>: Browser name that has been used for the request</li>
        <li><span>Data/Time</span>: When the request was made</li>
        <li><span>Ajax</span>: Whether the request was made via ajax</li>
        <li><span>Launch</span>: Opens a given request as the current context</li>
        <li><span>Count</span>: Number of requests that are available to be viewed</li>
    </ol>
</div>