
<h2>Routes Tab</h2>

<div class="plugin-summary">
    <p>The Routes tab shows the Routes that are present in the system and which one was used to trigger the controller that created your view.</p>
</div>

<div class="plugin-layout">
    <h3>Layout</h3> 
    <img src="@Links.Content.Plugin.Routes_jpg" /> 
    <ol class="plain">
        <li><span>Match</span>: Wheather a match was successfully made</li>
        <li><span>Area</span>: Which area the route was defined in (<u>Root</u> being your main application)</li>
        <li><span>Url</span>: The pattern that has been setup for the match on this route</li>
        <li><span>Data</span>: The route values that have been defined for this entry</li>
        <li><span>CustomErrors</span>: A set of expressions that specify the critiria which will be used to find matches</li>
        <li><span>DataTokens</span>: Additional metadata that is defined as part of the route entry (typcially used for areas, etc)</li>
    </ol> 
</div> 
 
<div class="plugin-know">
    <h3>Did you know</h3> 
    <ul class="plain"> 
        <li>
            <span>Ever wondered how to debug route resolution for Ajax calls?</span> Due to the way in which Glimpse has 
            been designed, in the same way we can show you how your page routes are resolved, Glimpse can show you how 
            your Ajax routes are being resolved.
            <br /><br />
            Simply go to the Ajax tab and select the relevent request that matches the Ajax query you are trying to 
            debug and go back to the Route tab. When you do this you are viewing the Route resolution information 
            just for that Ajax call.
        </li>
    </ul>
</div> 