
<h2>Server Tab</h2>

<div class="plugin-summary">
    <p>The Server tab shows all web server variables available for the request.</p>
</div>

<div class="plugin-layout">
    <h3>Layout</h3> 
    <img src="@Links.Content.Plugin.Server_jpg" />
    <dl class="plain">
        <dt>Key</dt>
            <dd>The key column shows the name of a variable from from the web server. Microsoft has full details of each variable from <a href="http://msdn.microsoft.com/en-us/library/ms524602.aspx">IIS on MSDN</a></dd>
        <dt>Value</dt>
            <dd>The value for the given variable.</dd>
    </dl>
</div>