
<h2>Session Tab</h2>

<div class="plugin-summary">
    <p>The Session tab shows the data that is associated with the current requestors session.</p>
</div>

<div class="plugin-layout">
    <h3>Layout</h3> 
    <img src="@Links.Content.Plugin.Session_jpg" /> 
    <ol class="plain">
        <li><span>Key</span>: The key that is used to reference the in session data</li>
        <li><span>Value</span>: The value that is stored in memory</li>
        <li><span>Type</span>: The type of the value being stored</li>
    </ol> 
</div>
 
<div class="plugin-faq">
    <h3>Frequently Asked Questions</h3> 
    <ol class="plain">
        <li>
            <div>I don't use session can I remove this tab?</div>
            Glimpse allows you to blacklist plugins so that they are not executed within your site. Hence feel
            free to blacklist the session plugin if you don't have a use for it. See the <a href="/Help/Configuration/">Configuration</a> documentation for more information about blacklisting plugins.
        </li> 
    </ol>
</div>