
<h2>Trace Tab</h2>

<div class="plugin-summary">
    <p>The Trace tab shows any messages traced to System.Diagnostics.Trace or Debug.</p>
</div>


<div class="soon">More information coming soon...</div>