<h2 class="musicHeadline">Minaj in talks to join Spears on tour</h2>
<p class="musicArticle">Rapper Nicki Minaj has confirmed she is in talks to join Britney Spears on her summer tour. <br /><br />Spears is on the hunt for another big name to share the bill when she hits the road in June, after Iglesias pulled out of the tour last week. Spears has already publicly appealed to have Usher perform onstage with her, and she has also voiced her admiration for Minaj.</p>
<a href="http://music.msn.com/music/article.aspx?news=640139">Read More...</a>