<h2 class="musicHeadline">U2 on pace to have highest-grossing tour ever</h2>
<p class="musicArticle">Irish rockers U2 are on track to dethrone the Rolling Stones and land the title for the highest-grossing tour ever. <br /><br /> The Rolling Stones are currently the kings of the live circuit, with their A Bigger Bang tour bringing in over $558 million between 2005 and 2007.<br /><br /> U2's 360° world tour, however, is expected to eclipse that number this weekend following their stop in Sao Paulo, Brazil.</p>
<a href="http://music.msn.com/music/article.aspx?news=640275">Read More...</a>