obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
Glimpse.5.1.ReSharper.user
/source/Glimpse.Test/obj
/source/Glimpse.Test/bin