obj/
bin/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
*.ncrunchsolution
*.ncrunchproject
*.user
*.log
/Glimpse.All.crunchsolution.local.xml
/TestResult.xml
/builds/local/
*.dotCover
/source/Glimpse.Mvc3.MusicStore.Sample/App_Data/ASPNETDB.MDF
/source/Glimpse.Mvc3.MusicStore.Sample/App_Data/ASPNETDB_log.ldf
/source/Glimpse.Mvc3.MusicStore.Sample/App_Data/MvcMusicStore.sdf
/Packages.dgml
/packages
/.nuget/NuGet.Config
TestResults
/*.DotSettings.user
*.DotSettings
*.shfbproj_*
working/
Help/
/source/Glimpse.WebForms.WingTip.Sample/App_Data/wingtiptoys.mdf
/source/Glimpse.WebForms.WingTip.Sample/App_Data/wingtiptoys_log.ldf
/source/Glimpse.WebForms.WingTip.Sample/App_Data/ErrorLog.txt

/source/Glimpse.Core.Net45/NuSpec/lib/net45/Glimpse.Core.dll

/source/Glimpse.Core.Net45/NuSpec/lib/net45/Glimpse.Core.pdb
/source/Glimpse.AspNet.Net45/NuSpec/lib/net45/Glimpse.AspNet.dll

/source/Glimpse.AspNet.Net45/NuSpec/lib/net45/Glimpse.AspNet.pdb

/source/Glimpse.Mvc4.MusicStore.Sample/App_Data/ASPNETDB.MDF

/source/Glimpse.Mvc4.MusicStore.Sample/App_Data/ASPNETDB_log.ldf

/source/Glimpse.Mvc4.MusicStore.Sample/App_Data/MvcMusicStore.mdf

/source/Glimpse.Mvc4.MusicStore.Sample/App_Data/MvcMusicStore_log.ldf
