obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
Glimpse.5.1.ReSharper.user
/source/Glimpse.Test/obj
/source/Glimpse.Test/bin
/source/Glimpse.Net/bin
/source/Glimpse.Net/obj
/source/Glimpse.Test/obj
/source/Glimpse.Test/bin
/source/Glimpse.Protocol/obj
/source/Glimpse.Protocol/bin
/source/Glimpse.Test/Bin/Glimpse.Net.dll
/source/Glimpse.Test/Bin/Glimpse.Net.pdb
/source/Glimpse.Test/Bin/Glimpse.Protocol.dll
/source/Glimpse.Test/Bin/Glimpse.Protocol.pdb
/source/Glimpse.Test/Bin/Glimpse.Test.dll
/source/Glimpse.Test/Bin/Glimpse.Test.pdb
*.user
/source/Glimpse.Net/NuSpec/lib/Glimpse.Protocol.dll
/source/Glimpse.Net/NuSpec/lib/Glimpse.Net.dll
/source/Glimpse.Net/Glimpse.0.75.nupkg
/source/Glimpse.Example/App_Data/aspnetdb_log.ldf
/source/Glimpse.Example/App_Data/MvcMusicStore.mdf
/source/Glimpse.Example/App_Data/MvcMusicStore_log.ldf
/source/Glimpse.Example/App_Data/ASPNETDB.MDF
/source/Glimpse.Example/App_Data/MvcMusicStore_log.ldf
/source/Glimpse.Example/App_Data/MvcMusicStore.mdf
/source/Glimpse.Example/Bin
/source/Glimpse.Sample.MVC3/Bin
/Glimpse.All.crunchsolution.local.xml
/TestResult.xml
/tools/nunit/GlimpseTests.VisualState.xml
/tools/nunit/NUnitTests.VisualState.xml
/source/Glimpse.Site/Glimpse.log
/source/Glimpse.Sample.MVC3/Glimpse.log
/builds/local/Glimpse.zip
/source/Glimpse.Sample.MVC3/App_Data/aspnetdb_log.LDF
/source/Glimpse.Sample.MVC3/App_Data/MvcMusicStore.sdf
/source/Glimpse.Elmah/NuSpec/lib/net40/Glimpse.Elmah.dll