<?xml version="1.0" encoding="utf-8"?>
<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
  <logging level="Trace" />
  <runtimePolicies>
    <ignoredTypes>
      <add type="Glimpse.Core.Policy.ControlCookiePolicy, Glimpse.Core" />
    </ignoredTypes>
    <uris>
      <add uri="glimpse/additional" />
      <clear/>
      <add uri="glimpse/anotheradditional" />
    </uris>
    <statusCodes>
      <add statusCode="404" />
      <remove statusCode="404" />
      <add statusCode="500" />
    </statusCodes>
  </runtimePolicies>
  <tabs>
    <ignoredTypes>
      <add type="Glimpse.AspNet.Tab.Cache, Glimpse.AspNet" />
    </ignoredTypes>
  </tabs>
</glimpse>