/* reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* general */
body { text-align:center; font-family:"avante garde", "Century Gothic", Serif; font-size:0.8em; line-height:1.4em; }
strong { font-weight:bold; } em { font-style:italic; }
ul.plain, ol.plain { margin-bottom:1em; }
ol.plain li { list-style-type:decimal; }
ul.plain li { list-style-type:disc; }
ul.plain li, ol.plain li { margin:0.5em 0 0.5em 1.5em ; }
.content { position:absolute; left:50%; margin-left:-450px; text-align:left; width:900px; }
.dark-grad-bg { border:1px solid #dcdcdc; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FCFCFC), color-stop(1, #dfdfdf) ); background:-moz-linear-gradient( center top, #FCFCFC 5%, #dfdfdf 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFC', endColorstr='#dfdfdf'); background-color: #FAFAFA; }
.light-grad-bg { border: 1px solid #AAA;  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EBEBEB), color-stop(1, #FCFCFC) ); background: -moz-linear-gradient( center top, #EBEBEB 5%, #FCFCFC 100% ); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#FCFCFC'); background-color: #FCFCFC; }
.navigation-back { border-top:0px; position:absolute; right: -10px; height: 80px; width: 720px; border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; }
.navigation { position:absolute; right:0; right:-50px; }
.navigation li { float:left; width:185px; height:70px; position:relative; }
.navigation li a { display:block; font-size:1.5em; color:#333; text-decoration:none; margin:1em 0 0.5em; }
.nagigation li span { display:block; padding:40px 8px 0 12px; font-size:0.85em; }
.download { margin-top:3em; }
.download-abbrv { position:absolute; right:0; margin-top:-15px; }
.footer { margin:3em 0; text-align:center; }
.logo { font-family: "TitilliumMaps", helvetica, sans-serif; margin:100px 0 10px; position:relative; background: url(glimpseLogo.png) -10px -15px no-repeat; padding: 0 0 0 140px; }
.logo h1 { color:transparent; font-size:0px; height:65px; }
.logo div { font-size:1.5em; margin: 25px 0 0 -10px; }
.logo blockquote { width:350px; position:absolute; right:0; top:10px; }
.features { margin-top:20px; }
.features h3 { margin:20px 0 15px; } 
.features tr { vertical-align:top; } 
.features p { padding: 0.5em 0; }
.scroll-pane { overflow:hidden; outline:none; height:400px; width:820px; }
h1, h2, h3, h4 { line-height:1.2em; } 
h1 { font-size:4em; }
h2 { font-size:2.5em; }
h3 { font-size:2em; }
h4 { font-size:1.4em;  margin-bottom:0.5em; }
blockquote { font: 1.2em/1.6em "avante garde", "Century Gothic", Serif; width: 400px; background: url(/Content/close-quote.gif) no-repeat right bottom; padding-left: 18px; text-indent: -18px; }
blockquote:first-letter { background: url(/Content/open-quote.gif) no-repeat left top; padding-left: 18px; font: italic 1.4em "avante garde", "Century Gothic", Serif; }
.question {font-weight:bold; line-height:1.4em;}
.myButton { -moz-box-shadow:inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff; box-shadow:inset 0px 1px 0px 0px #ffffff; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) ); background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf'); background-color:#ededed; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; border:1px solid #dcdcdc; display:inline-block; color:#777777; font-family:arial; font-size:24px; padding:10px 41px; text-decoration:none; text-shadow:1px 1px 0px #ffffff; }
.myButton:hover { background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) ); background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed'); background-color:#dfdfdf; }
.myButton:active { position:relative; top:1px; }
.questions li { padding:0.5em 0; line-height:1.4em; }
pre { border: 1px dashed #777; background-color: #EEE; padding: 1em; }

.header-number { font-size:1.4em; font-weight:normal; }

.glimpse-scenario { padding-bottom:4em; }
.glimpse-scenario-data { padding-top:0.5em; }

.plugin-summary { padding:1em 0 0 0; }
.plugin-video { padding-bottom:1em; text-align:center; }
/* a bit to wide, any span becomes italic and bold!: */
.plugin-layout ol span, .plugin ul span { font-style:italic; font-weight:bold; }
.plugin-faq ol div { font-weight:bold; }
.plugin-faq li { margin-bottom:2em; }
.help-buttons { text-align:center; position:relative; }
.help-links { display:none; border: 1px solid #AAA;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; text-align: left; padding:0 2em 1em 2em; -moz-box-shadow: 0 0 5px 5px #888; -webkit-box-shadow: 0 0 5px 5px#888; box-shadow: 0 0 5px 5px #DDD; position: absolute; width:94%; bottom: 0; background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EBEBEB), color-stop(1, #FCFCFC) ); background: -moz-linear-gradient( center top, #EBEBEB 5%, #FCFCFC 100% ); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#FCFCFC'); background-color: #FCFCFC; }

.soon { font-weight:bold; font-size:1.2em; text-align:center; margin:3em 0; }

.line { background:gainsboro; color:gainsboro; clear: both; float: none; width: 100%; height: 1px; margin: 2em 0; border: none; }

.about .quotes .dark-grad-bg { padding:1em; font-size: 0.9em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; height:100%; }
.about .quotes .dark-grad-bg div { margin-top:1em; text-align:right; font-size:0.9em; }
.about .button-holder { text-align:center; margin-top:1.5em; }
.about .light-grad-bg, .help .light-grad-bg { border-left:0px; border-right:0px; padding-left:0.5em; }
.about h2, .help h2 { margin-bottom:0.5em; }
.about .light-grad-bg h2, .help .light-grad-bg h2 { margin-bottom:0.3em; }


.sub-menu-holder { padding:1.5em 0 2em 0; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; margin-top:1em; }
.sub-menu-holder h2 { margin-bottom:0.3em; }
.sub-menu-holder h3 { margin-top:0; }
.sub-menu-holder li { display:inline-block; margin-right:1.5em; }


/* classes for code formatting */
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #EEE;
	margin-top:0.7em;
	padding: 0.7em;
}

/* to overwrite previous italic bold */
.plugin-layout ul pre.csharpcode span
{
    font-style:normal;
	font-weight:normal;
}
pre.csharpcode span
{
    font-style:normal;
	font-weight:normal;
}


.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; font-style:italic; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }