<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="glimpse" type="Glimpse.Core.Configuration.GlimpseSection, Glimpse.Core" />
    </configSections>


    <glimpse defaultRuntimePolicy="On" serviceLocatorType="Glimpse.Test.Core.TestDoubles.DummyServiceLocator, Glimpse.Test.Core" endpointBaseUri="~/Glimpse.axd">
        <logging level="Warn"/>
        <clientScripts autoDiscover="true">
            <ignoredTypes>
                <add type="Glimpse.Core.ClientScript.Data, Glimpse.Core"/>
            </ignoredTypes>
        </clientScripts>
        <runtimePolicies>
            <contentTypes>
                <clear/>
                <add contentType="test\value"/>
            </contentTypes>
        </runtimePolicies>
    </glimpse>
</configuration>