.glimpse-open .glimpse-hud { 
    padding: 0 5px 0 0;
    float: left;
    overflow-y: hidden;
}
.glimpse-open .glimpse-hud-section {
    float: left; 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-left: 11px solid #71b1d1;
}
.glimpse-open .glimpse-hud-section-alert {
    border-color: #e0695c;
}
.glimpse-open .glimpse-hud-section:hover {
    border-color: #8BC441;
}
.glimpse-open .glimpse-hud-section-inner {  
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-width: 999px;
}
.glimpse-open .glimpse-hud-section-inner:hover .glimpse-hud-tooltips-non, .glimpse-open .glimpse-hud-tooltips {
    display: none;
} 
.glimpse-open .glimpse-hud-section-inner:hover .glimpse-hud-tooltips { 
    display: block;  
}
.glimpse-open .glimpse-hud-tooltips {
    color: #bcbcbc;  
    font-size: 7px;
    position: absolute;
}
.glimpse-open .glimpse-hud-main .glimpse-hud-tooltips {
    top: 18px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-tooltips {
    top: 2px;
}
.glimpse-open .glimpse-hud-title { 
    position: absolute;
    line-height: 100%;
    font-family: "Segoe UI Semibold";
    font-size: 9px;
    top: 2px;
    color: white;
    text-transform: uppercase; 
    -webkit-transform-origin: 8px 18px;
    -moz-transform-origin: 8px 18px;
    -ms-transform-origin: 8px 18px;
    -o-transform-origin: 8px 18px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    cursor: pointer;
}
.glimpse-open .glimpse-hud-section-input {
    display: none;
}
.glimpse-open .glimpse-hud-section-input:checked ~ .glimpse-hud-section-inner {
    max-width: 0px;
    overflow: hidden;
} 
.glimpse-open .glimpse-hud-postfix {
    float: left;
    line-height: 100%;
    padding-left: 2px;
    color: #bcbcbc; 
}
.glimpse-open .glimpse-hud-value {
    line-height: 90%;
    float: left;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.glimpse-open .glimpse-hud-value-update {
    color: #71b1d1;
}
.glimpse-open .glimpse-hud-value-alert {
    color: #e0695c;
}
.glimpse-open .glimpse-hud-detail {
    float: left;
}
.glimpse-open .glimpse-hud-main {
    float: left;
    position: relative;
    padding-left: 10px;
    min-width: 20px;
}
.glimpse-open .glimpse-hud-main .glimpse-hud-detail {
    float: left;
    padding: 3px 10px 0 0;
}
.glimpse-open .glimpse-hud-main .glimpse-hud-value {
    font-size: 23px;
    height: 30px;
}
.glimpse-open .glimpse-hud-main .glimpse-hud-postfix { 
    padding-left: 3px; 
}
.glimpse-open .glimpse-hud-content {
    float: left;
    position: relative;
    padding: 0 20px 0 10px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail {
    padding-top: 14px; 
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail-top {
    padding-top: 1px; 
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail.glimpse-hud-detail-small {
    padding-top: 17px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail .glimpse-hud-postfix {
    font-size: 10px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail-small .glimpse-hud-postfix {
    font-size: 6px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail .glimpse-hud-value {
    font-size: 14px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail-small .glimpse-hud-value {
    font-size: 10px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail-divider {
    padding: 14px 10px 0 10px;
    color: #bcbcbc;  
}
.glimpse-open .glimpse-hud-content div.glimpse-hud-detail-divider {
    float: left;
}
.glimpse-open .glimpse-hud-detail .glimpse-hud-detailtitle {
    font-size: 13px;
}
.glimpse-open .glimpse-hud-detail .glimpse-hud-detailsubtitle {
    font-size: 10px;
    text-align: right;
}
.glimpse-open .glimpse-hud .alert {
    float: left;
    margin: 8px 0 0 15px;
    display: none;
}
.glimpse-open .glimpse-hud .super {
    position: relative;
    top: -2px;
    line-height: 0.5em;
    font-size: 0.8em;
    margin-left: 2px;
}
.glimpse-open .glimpse-hud .quiet { 
    color: #bcbcbc; 
}
.glimpse-open .glimpse-hud-graph {
    width: 45px; 
    position: absolute;
    height: 8px;
    top: 20px;
    opacity: 0.4;
}
.glimpse-open .glimpse-hud-graph-item {
    width: 2px;
    background-color: white;
    bottom: 1px;
    position: absolute;
    height: 100%;
}
.glimpse-open .glimpse-hud-graph-item.glimpse-hud-graph-item-alert { 
    background-color: #e0695c; 
}
.glimpse-open .glimpse-hud-bar {
    height: 7px;
    width:100%;
    background-color:red;
    margin-top: 5px;
}
.glimpse-open .glimpse-hud-bar > div {
    position: relative;
} 
.glimpse-open .glimpse-hud-bar-item {
    position: absolute;  
    height: 7px;
} 
.glimpse-hud-section-ajax .glimpse-hud-detail-top {
    position: relative;
    top: -20px;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
}
.glimpse-hud-section-ajax .glimpse-hud-detail-top.added {
    top: 0px;
    opacity: 1;
}