.glimpse-panel .glimpse-tl-resizer {
    position: absolute;
    width: 4px;
    height: 100%;
    cursor: col-resize;
}
.glimpse-panel .glimpse-tl-row-summary {
    position: relative;
    height: 100px;
}
.glimpse-panel .glimpse-tl-row-summary .glimpse-tl-resizer-bar {
    background-color: #404040;
    width: 1px;
    height: 100%;
    margin-left: 2px;
}
.glimpse-panel .glimpse-tl-row-summary .glimpse-tl-resizer-handle {
    background-color: #404040;
    width: 5px;
    height: 20px;
    top: 0;
    position: absolute;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.glimpse-panel .glimpse-tl-row-spacer {
    background: #cfcfcf;
    background: -moz-linear-gradient(top, #cfcfcf 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #cfcfcf 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #cfcfcf 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #cfcfcf 0%,#dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=\'#cfcfcf\', endColorstr=\'#dddddd\',GradientType=0 );
    background: linear-gradient(top, #cfcfcf 0%,#dddddd 100%);
    -webkit-box-shadow: inset 0px 1px 0px 0px #E2E2E2;
    -moz-box-shadow: inset 0px 1px 0px 0px #E2E2E2;
    box-shadow: inset 0px 1px 0px 0px #E2E2E2;
    border-top: 1px solid #7A7A7A;
    border-bottom: 1px solid #7A7A7A;
    height: 5px;
}
.glimpse-panel .glimpse-tl-col-side {
    position: absolute;
    width: 200px;
    height: 100%;
    left: 0px;
}
.glimpse-panel .glimpse-tl-col-main {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 0px;
}
.glimpse-panel .glimpse-tl-row-content .glimpse-tl-col-side {
    border-right: 1px solid #404040;
}
.glimpse-panel .glimpse-tl-row-content {
    position: relative;
    height: 400px;
}
.glimpse-panel .glimpse-tl-row-content .glimpse-tl-resizer {
    left: 200px;
}
.glimpse-panel .glimpse-tl-row-content .glimpse-tl-resizer div {
    background-color: #404040;
    width: 1px;
    height: 100%;
}
.glimpse-panel .glimpse-tl-band {
    padding-top: 2px;
    padding-bottom: 2px;
}
.glimpse-panel .glimpse-tl-col-side .glimpse-tl-band {
    padding-top: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.glimpse-panel .glimpse-tl-band {
    position: relative;
    height: 18px;
    padding: 0px;
}
.glimpse-panel .glimpse-tl-col-main .glimpse-tl-event {
    position: absolute;
    top: 4px;
    margin-left: -2px;
}
.glimpse-panel .glimpse-tl-band-title {
    height: 20px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    padding-top: 4px;
}
.glimpse-panel .glimpse-tl-event {
    border-radius: 2px;
    width: 9px;
    height: 9px;
    display: inline-block;
    margin: 0 5px 0 2px;
    /*
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 70%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(40%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 70%,rgba(0,0,0,0.5) 100%);
    */
}
.glimpse-panel .glimpse-tl-col-main .glimpse-tl-event {
    width: 1%;
    min-width: 3px;
}
.glimpse-panel .glimpse-tl-event-info {
    position: absolute;
    top: 1px;
    padding: 0.75em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #FCF7BD;
    display: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px #696969;
    -moz-box-shadow: 0px 0px 8px 0px #696969;
    box-shadow: 0px 0px 8px 0px #696969;
}
.glimpse-panel .glimpse-tl-event-info th, .glimpse-panel .glimpse-tl-event-info td {
    padding: 3px 7px;
}
.glimpse-panel .glimpse-tl-event-info th {
    font-weight: bold;
    text-align: right;
}
.glimpse-panel .glimpse-tl-event-info .glimpse-tl-event-info-title {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 6px;
}
.glimpse-panel .glimpse-tl-row-summary .glimpse-tl-event-holder {
    margin-left: 3px;
}
.glimpse-panel .glimpse-tl-row-content .glimpse-tl-event-holder {
    margin-left: 15px;
}
.glimpse-panel .glimpse-tl-event-holder-inner {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: 4px;
}
.glimpse-panel .glimpse-tl-event-desc-sub {
    color: #AAA;
    font-size: 0.9em;
    margin-left: 5px;
}
.glimpse-panel .glimpse-tl-event-overlay {
    display: none;
    position: absolute;
    height: 18px;
    width: 7px;
}
.glimpse-panel .glimpse-tl-event-overlay-lh {
    position: absolute;
    left: 0;
    width: 1px;
}
.glimpse-panel .glimpse-tl-event-overlay-li {
    position: absolute;
    right: -2px;
    font-size: 0.8em;
    top: 7px;
    background: url() no-repeat -31px -17px;
    width: 11px;
    height: 3px;
}
.glimpse-panel .glimpse-tl-event-overlay-lt {
    position: absolute;
    right: 15px;
    font-size: 0.8em;
    top: 2px;
    color: rgba(0, 0, 0, 0.75);
    white-space: nowrap;
}
.glimpse-panel .glimpse-tl-event-overlay-rh {
    position: absolute;
    right: 0;
    width: 1px;
}
.glimpse-panel .glimpse-tl-event-overlay-ri {
    position: absolute;
    left: -4px;
    font-size: 0.8em;
    top: 7px;
    background: url() no-repeat -44px -17px;
    width: 11px;
    height: 3px;
}
.glimpse-panel .glimpse-tl-event-overlay-rt {
    font-size: 0.8em;
    position: absolute;
    top: 2px;
    left: 11px;
    color: rgba(0, 0, 0, 0.75);
    white-space: nowrap;
}
.glimpse-panel .glimpse-tl-event-overlay-c {
    font-size: 0.9em;
    text-align: center;
    padding-top: 2px;
    color: white;
    font-weight: bold;
}
.glimpse-panel .glimpse-tl-content-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    position: absolute;
    height: 100%;
}
.glimpse-panel .glimpse-tl-padding-holder {
    right: 18px;
}
.glimpse-panel .glimpse-tl-padding {
    position: absolute;
    width: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.glimpse-panel .glimpse-tl-padding-l {
    left: 0;
    border-left: 1px solid #555;
}
.glimpse-panel .glimpse-tl-padding-r {
    right: 0;
    border-right: 1px solid #555;
}
.glimpse-panel .glimpse-tl-divider-line-holder {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
}
.glimpse-panel .glimpse-tl-divider {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.glimpse-panel .glimpse-tl-divider div {
    position: absolute;
    top: 4px;
    right: 5px;
    font-size: 9px;
    color: #323232;
    white-space: nowrap;
}
.glimpse-panel .glimpse-tl-divider-title-bar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 20px;
}
.glimpse-panel .glimpse-tl-divider-zero-holder {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
}
.glimpse-panel .glimpse-tl-divider-zero-holder .glimpse-tl-divider {
    left: 15px;
}
.glimpse-panel .glimpse-tl-content-scroll .glimpse-tl-divider div {
    display: none;
}
.glimpse-panel .glimpse-tl-row-summary .glimpse-tl-divider-holder {
    right: 19px;
    height: 20px;
}
.glimpse-panel .glimpse-tl-row-content .glimpse-tl-content-scroll .glimpse-tl-divider-holder {
    right: -1px;
    margin-left: 1px;
    height: 100%;
}
.glimpse-panel .glimpse-tl-row-content .glimpse-tl-content-overlay .glimpse-tl-divider-holder {
    right: 16px;
    height: 20px;
    border-left: 1px solid #404040;
}
.glimpse-panel .glimpse-tl-row-summary .glimpse-tl-divider-line-holder {
    left: 0;
}
.glimpse-panel .glimpse-tl-row-content .glimpse-tl-divider-line-holder {
    left: 15px;
}
.glimpse-panel .glimpse-tl-resizer-holder {
    right: 17px;
}
.glimpse-panel .glimpse-tl-resizer-l {
    left: 0px;
    margin-left: -2px;
}
.glimpse-panel .glimpse-tl-resizer-r {
    right: 0px;
}
.glimpse-panel .glimpse-tl-col-side {
    background-color: #F2F5F7;
}
.glimpse-panel .glimpse-tl-row-summary .glimpse-tl-band-title {
    opacity: 0.9;
}
.glimpse-panel .glimpse-tl-row-summary .glimpse-tl-event-desc-group .glimpse-tl-band {
    opacity: 0.95;
}
.glimpse-panel .glimpse-tl-row-summary .glimpse-tl-event-desc-group input {
    margin-right: 5px;
    float: right;
    display: none;
}
.glimpse-panel .glimpse-tl-band-title span {
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 1em;
    cursor: pointer;
}
