.glimpse-open .glimpse-hud { 
    padding: 0 5px;
    float: left;
}
.glimpse-open .glimpse-hud-section {
    float: left;
    padding: 0 20px 0 10px;
}
.glimpse-open .glimpse-hud-section:hover .glimpse-hud-title {
    color: #8BC441;
}
.glimpse-open .glimpse-hud-title { 
    position: absolute;
    line-height: 100%;
    font-family: "Segoe UI Semibold";
    font-size: 10px;
    top: 2px;
    color: #71b1d1;
    text-transform: uppercase; 
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.glimpse-open .glimpse-hud-postfix {
    float: left;
    line-height: 100%;
    padding-left: 2px;
    color: #bcbcbc; 
}
.glimpse-open .glimpse-hud-value {
    line-height: 90%;
    float: left;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.glimpse-open .glimpse-hud-value-update {
    color: #71b1d1;
}
.glimpse-open .glimpse-hud-value-alert {
    color: #e0695c;
}
.glimpse-open .glimpse-hud-detail {
    float: left;
}
.glimpse-open .glimpse-hud-main {
    float: left;
}
.glimpse-open .glimpse-hud-main .glimpse-hud-detail {
    float: left;
    padding: 3px 10px 0 0;
}
.glimpse-open .glimpse-hud-main .glimpse-hud-detail .glimpse-hud-detailtitle {
    font-size: 13px;
}
.glimpse-open .glimpse-hud-main .glimpse-hud-detail .glimpse-hud-detailsubtitle {
    font-size: 10px;
    text-align: right;
}
.glimpse-open .glimpse-hud-main .glimpse-hud-value {
    font-size: 30px;
    height: 30px;
}
.glimpse-open .glimpse-hud-main .glimpse-hud-postfix { 
    padding-left: 3px; 
}
.glimpse-open .glimpse-hud-content {
    float: left;
    position: relative;
    padding: 0 10px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail {
    padding-top: 14px; 
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail.glimpse-hud-detail-small {
    padding-top: 17px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail .glimpse-hud-postfix {
    font-size: 10px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail-small .glimpse-hud-postfix {
    font-size: 6px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail .glimpse-hud-value {
    font-size: 14px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail-small .glimpse-hud-value {
    font-size: 10px;
}
.glimpse-open .glimpse-hud-content .glimpse-hud-detail-divider {
    padding: 14px 10px 0 10px;
    color: #bcbcbc;  
    float: left;
    font-size: 10px;
    height: 30px;
}
.glimpse-open .glimpse-hud .alert {
    float: left;
    margin: 8px 0 0 15px;
}
.glimpse-open .glimpse-hud-graph {
    width: 45px; 
    position: absolute;
    height: 8px;
    top: 4px;
}
.glimpse-open .glimpse-hud-graph-item {
    width: 2px;
    background-color: white;
    bottom: 1px;
    position: absolute;
    height: 100%;
}
.glimpse-open .glimpse-hud-graph-item.glimpse-hud-graph-item-alert { 
    background-color: #e0695c; 
} 