.glimpse-open .glimpse-hud { 
    padding: 0 5px 0 0;
    float: left; 
}
.glimpse-open .glimpse-hud-section {
    float: left; 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-left: 11px solid #71b1d1;
    height: 34px;
    position: relative;
    cursor: default;
}
.glimpse-open .glimpse-hud-title { 
    position: absolute;
    font-family: "Segoe UI Semibold", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
    color: white;
    text-transform: uppercase; 
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    width: 12px;
    left: -12px;
}
.glimpse-open .glimpse-hud-title span { 
    position: absolute;
    line-height: 100%;
    font-size: 9px;
    top: 2px;
    -webkit-transform-origin: 16px 14px;
    -moz-transform-origin: 16px 14px;
    -ms-transform-origin: 16px 14px;
    -o-transform-origin: 16px 14px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
.glimpse-open .glimpse-hud-section-inner {  
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-width: 999px;
    min-width: 0px;
    margin-top: -1px;
    overflow: hidden;
}
.glimpse-open .glimpse-hud-section-input {
    display: none;
    font-size: 12px;
}
.glimpse-open .glimpse-hud-section-input:checked ~ .glimpse-hud-section-inner, .glimpse-open .glimpse-hud-section-input:checked ~ .glimpse-hud-popup-expander {
    max-width: 0px;
    overflow: hidden;
}
.glimpse-open .glimpse-hud-section-input:checked ~ .glimpse-hud-popup {
    max-height: 0px;
    overflow: hidden;
}
.glimpse-open .glimpse-hud-detail {
    display: inline-block;
    padding: 0 10px;
}
.glimpse-open .glimpse-hud-section-inner .glimpse-hud-detail:first-child { 
    padding-left: 15px;
}
.glimpse-open .glimpse-hud-section-inner .glimpse-hud-detail:last-child { 
    padding-right: 20px;
}
.glimpse-open .glimpse-hud-data {
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.glimpse-open .glimpse-hud-value-update {
    color: #71b1d1;
}
.glimpse-open .glimpse-hud-detail-right .glimpse-hud-header {
    text-align: right;
} 
.glimpse-open .glimpse-hud-detail-extra-large, .glimpse-hud-detail-extra-large span {
    font-size: 2em;
    line-height: 100%;
}
.glimpse-open .glimpse-hud-detail-large, .glimpse-hud-detail-large span {
    font-size: 1.45em;
    line-height: 100%;
}
.glimpse-open .glimpse-hud-detail-normal, .glimpse-hud-detail-normal span, .glimpse-hud-detail-normal div {
    font-size: 1.2em;
    line-height: 100%;
}
.glimpse-open .glimpse-hud-detail-small, .glimpse-hud-detail-small span, .glimpse-hud-detail-small div {
    font-size: 1.1em;
} 
.glimpse-open .glimpse-hud-value {
    font-size: 1em;
    line-height: 100%;
    margin-top: -3px;
}
@media screen\0 {   
    .glimpse-open .glimpse-hud-value { margin-top: -4px; }
    .glimpse-open .glimpse-hud-detail-normal .glimpse-hud-header { margin-bottom: 2px; }
} 
.glimpse-open .glimpse-hud-header { 
    opacity: 0.6;
    font-size: 0.7em;
    line-height: 100%;
}
.glimpse-open .glimpse-hud-detail-extra-large .glimpse-hud-header {
    font-size: 0.5em;
}
.glimpse-open .glimpse-hud-detail-large .glimpse-hud-header {
    font-size: 0.6em;
}
.glimpse-open .glimpse-hud-prefix, .glimpse-open .glimpse-hud-postfix, .glimpse-open .glimpse-hud-spacer, .glimpse-open .glimpse-hud-plain { 
    opacity: 0.4;
    font-size: 0.9em;
}
.glimpse-open .glimpse-hud-postfix {
    padding-left: 2px;
}
.glimpse-open .glimpse-hud-prefix {
    padding-right: 2px;
}
.glimpse-open .glimpse-hud-spacer {
    padding: 0 10px;
}
.glimpse-open .glimpse-hud-quite, .glimpse-open .glimpse-hud-quite * {
    opacity: 0.6;
}
.glimpse-open .glimpse-hud-error, .glimpse-open .glimpse-hud-error * {
    color: #FF8C80;
}
.glimpse-open .glimpse-data-trivial {
    display: none;    
}
.glimpse-open .glimpse-hud-section-inner:hover ~ .glimpse-hud-popup, .glimpse-open .glimpse-hud-popup:hover {
    max-height: 999px;
    -webkit-transition: max-height 0.3s ease 0.3s;
    -moz-transition: max-height 0.3s ease 0.3s;
    -o-transition: max-height 0.3s ease 0.3s;
    transition: max-height 0.3s ease 0.3s;
}
.glimpse-open .glimpse-hud-popup {
    background-color: #3c454f;
    border-left: 11px solid #71b1d1;
    position: absolute;
    left: -11px;
    right: 0;
    z-index: 1;
    bottom: 0px;
    max-height: 0px;
    -webkit-transition: max-height 0.3s ease 0.2s;
    -moz-transition: max-height 0.3s ease 0.2s;
    -o-transition: max-height 0.3s ease 0.2s;
    transition: max-height 0.3s ease 0.2s;
} 
.glimpse-open .glimpse-hud-popup-expander {
    height: 1px; 
    -webkit-transition: min-width 0.1s ease 0.5s;
    -moz-transition: min-width 0.1s ease 0.5s;
    -o-transition: min-width 0.1s ease 0.5s;
    transition: min-width 0.1s ease 0.5s;
} 
.glimpse-open .glimpse-hud-section-inner:hover ~ .glimpse-hud-popup-expander, .glimpse-open .glimpse-hud-popup:hover ~ .glimpse-hud-popup-expander {
    -webkit-transition: min-width 0.1s ease 0.2s;
    -moz-transition: min-width 0.1s ease 0.2s;
    -o-transition: min-width 0.1s ease 0.2s;
    transition: min-width 0.1s ease 0.2s;
} 
.glimpse-open .glimpse-hud-section-http .glimpse-hud-section-inner:hover ~ .glimpse-hud-popup-expander, .glimpse-open .glimpse-hud-section-http .glimpse-hud-popup:hover ~ .glimpse-hud-popup-expander {
    min-width: 400px !important;
} 
.glimpse-open .glimpse-hud-section-host .glimpse-hud-section-inner:hover ~ .glimpse-hud-popup-expander, .glimpse-open .glimpse-hud-section-host .glimpse-hud-popup:hover ~ .glimpse-hud-popup-expander {
    min-width: 600px !important;
} 
.glimpse-open .glimpse-hud-section-ajax .glimpse-hud-section-inner:hover ~ .glimpse-hud-popup-expander, .glimpse-open .glimpse-hud-section-ajax .glimpse-hud-popup:hover ~ .glimpse-hud-popup-expander {
    min-width: 450px !important;
} 
.glimpse-open .glimpse-hud-popup-clear {
    clear: both;
}
.glimpse-open .glimpse-hud-popup-header {
    margin-bottom: 5px;
}
.glimpse-open .glimpse-hud-popup .glimpse-hud-detail-extra-large {
    margin-left: -2px;
}
.glimpse-open .glimpse-hud-popup-inner {
    padding: 10px 15px;
} 
.glimpse-open .glimpse-hud-popup .glimpse-hud-detail {
    padding: 0;
}  
 .glimpse-open .glimpse-hud-bar {
    height: 12px;
    width:100%; 
    margin: 5px 0 10px;
}
.glimpse-open .glimpse-hud-bar > div {
    position: relative;
} 
.glimpse-open .glimpse-hud-bar-item {
    position: absolute;  
    height: 12px;
    min-width: 1px;
} 
.glimpse-open .glimpse-hud-summary {
    width: auto;
} 
.glimpse-open .glimpse-hud-summary-left {
    float: left;
} 
.glimpse-open .glimpse-hud-summary-right {
    float: right;
} 
.glimpse-open .glimpse-hud-summary tr {
    vertical-align: bottom;
}
.glimpse-open .glimpse-hud-summary-space tr:first-child {
    height: 65px;
}
.glimpse-open .glimpse-hud-summary tr:last-child {
    height: 35px;
}
.glimpse-open .glimpse-hud-summary-space tr:last-child {
    height: 46px;
}
.glimpse-open .glimpse-hud-summary th {
    font-weight: normal;
}
.glimpse-open .glimpse-hud-summary td .glimpse-hud-detail {
    float: right;
} 
.glimpse-open table.glimpse-hud-listing {
    max-width: 100%;
    width: 100%;
} 
.glimpse-open .glimpse-hud-popup .glimpse-hud-listing { 
    margin-top: 10px;
} 
.glimpse-open .glimpse-hud-listing td {
    font-size: 1.025em;
    line-height: 100%;
    padding-top: 3px;
} 
.glimpse-open .glimpse-hud-listing-row {
    padding: 2px 0;
} 
.glimpse-open .glimpse-hud-listing-row > div {
    display: inline-block;
} 
.glimpse-open .glimpse-hud-listing tr:first-child td {
    padding-top: 1px;
}
.glimpse-open .glimpse-hud-listing td {
    padding-bottom: 1px;
}
.glimpse-open .glimpse-hud-listing thead th {
    white-space: nowrap;
    opacity: 0.6;
    font-weight: normal;
    color: white;
    line-height: 100%;
    padding-bottom: 5px;
} 
.glimpse-open .glimpse-hud-listing-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.glimpse-open td.glimpse-hud-listing-value, .glimpse-open th.glimpse-hud-listing-value {
    text-align: right; 
} 
.glimpse-open td.glimpse-hud-listing-value, .glimpse-open span.glimpse-hud-listing-value { 
    font-family: Consolas, monospace, serif;
    opacity: 0.85;
}  
.glimpse-open .glimpse-hud .glimpse-data-childless-duration, .glimpse-open .glimpse-hud .glimpse-data-duration, .glimpse-open .glimpse-hud .glimpse-data-content-type {
    width:90px;
}
.glimpse-open .glimpse-hud .glimpse-data-size {
    width:60px;
}
.glimpse-open .glimpse-hud .glimpse-data-content-method {
    width:40px;
}
.glimpse-open .glimpse-hud .glimpse-data-content-type, .glimpse-open .glimpse-hud .glimpse-data-content-time {
    text-align: right;
}
.glimpse-open .glimpse-hud .glimpse-data-childless-start-point {
    width:100px;
}
.glimpse-open .glimpse-hud .glimpse-data-request-parts {
    margin-top:15px;
}
.glimpse-open .glimpse-hud .glimpse-data-wire-part {
    width:35%;
}
.glimpse-open .glimpse-hud .glimpse-data-server-part {
    width:30%
}
.glimpse-open .glimpse-hud .glimpse-data-client-part {
    text-align:right;
    width:33%
}
.glimpse-open .glimpse-hud .glimpse-data-ajax-method {
    width: 30px;
    text-align: right;
}
.glimpse-open .glimpse-hud .glimpse-data-ajax-uri {
    max-width: 230px;
    padding: 0 20px;
} 
.glimpse-open .glimpse-hud .glimpse-data-query-summary .glimpse-hud-listing-value {
    color: #e2875e;
}
.glimpse-open .glimpse-hud .glimpse-hud-section-ajax .glimpse-hud-listing-row { 
    position: relative;
    top: -20px;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.glimpse-open .glimpse-hud .glimpse-hud-section-ajax .glimpse-hud-listing-row.added {
    top: 0px;
    opacity: 1;
}
.glimpse-open .glimpse-hud .glimpse-data-ajax-detail tbody tr:first-child td {
    padding-top: 10px; 
}
.glimpse-open .glimpse-hud-controls {
    text-align: right;  
    font-size: 1.2em;
    margin-top: 7px;
}
.glimpse-open .glimpse-hud-controls span {
    font-weight: bold;
    color: #71b1d1;
    cursor: pointer;
}
.glimpse-open .glimpse-data-ajax-detail a {
    color:inherit;  
}