@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <p>Page rendered at @DateTime.Now.ToLongTimeString().</p>

    <p>For Config info Go To <a href="/Glimpse/Config">Glimpse/Config</a> or drag the <a href="javascript:(function(){document.cookie='glimpseMode=On; path=/;'; window.location.reload();})();">Glimpse</a> bookmarklet to your favorites bar.</p>

    <hr />

    <h1>Style Options</h1><br />

    <div class="glimpse-scenario glimpse-panel" style="display:block;width:350px;">
        <table width="50%">
            <thead>
                <tr class="glimpse-row-header-0">
                    <th>Row Styles</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd suppress"><td>"suppress" Style</td></tr>
                <tr class="even quiet"><td>"quiet" Style</td></tr>
                <tr class="odd selected"><td>"selected" Style</td></tr>
                <tr class="even loading"><td>"loading" Style</td></tr>
                <tr class="odd info"><td>"info" Style</td></tr>
                <tr class="even warn"><td>"warn" Style</td></tr>
                <tr class="odd error"><td>"error" Style</td></tr>
                <tr class="even fail"><td>"fail" Style</td></tr> 
            </tbody>
        </table>
    </div>
    <br />

    <h1>Test Cases</h1>
    <table width="100%">
        <tr>
            <td colspan="2">
                <h2>Scenario 1 (Pass):</h2>
                Simple key value pair table based of the properties and values of json<br />
                object. Note, strings that exceed the max string length are trimmed and summaried
            </td>
        </tr>
        <tr width="50%">
            <td class="glimpse-scenario-data">
<pre>var scenarioOneData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'GlimpseOn' : 'True',
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td width="50%" class="glimpse-scenario glimpse-scenario-one glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 2 (Pass):</h2>
                More complex table based on the items in a matrix array (note that row<br /> 
                0 is used as the title of the table)
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioTwoData = [
    [ 'Actor', 'Character', 'Gender', 'Age' ],
    [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
    [ 'James Earl Jones', 'Darth Vader', 'Male', '45', 'quiet' ],
    [ 'Harrison Ford', 'Han Solo', 'Male', '25' ],
    [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
    [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
    [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70', 'selected' ],
    [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
    [ 'Kenny Baker', 'R2-D2', 'Droid', '150' ]
];</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-two glimpse-panel"></td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioTwoDataA = [
    [ 'Actor', 'Character', 'Gender', 'Age' ],
    [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
    [ 'James Earl Jones', 'Darth Vader', 'Male', '45', 'info' ],
    [ 'Harrison Ford', 'Han Solo - Solo plays a central role in the various Star 
                        Wars set after Return of the Jedi. In The Courtship of 
                        Princess Leia (1995), he resigns his commission to 
                        pursue Leia, whom he eventually marries.', 'Male', '25' ],
    [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
    [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
    [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70', 'warn' ],
    [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
    [ 'Kenny Baker', 'R2-D2 - R2-D2 and C-3PO are abducted by Jawas and bought 
                        by Owen Lars, step-uncle of Luke Skywalker. While Luke 
                        cleans the sand out of R2-D2\'s gears, he discovers a 
                        fragment of Leia\'s message, and removes the droid's 
                        restraining bolt to see more; once free of the bolt, 
                        R2 claims to have no knowledge of the message.', 'Droid', '150' ],
    [ 'Peter Mayhew', 'Chewbacca', 'Wookie', '45' ],
    [ 'Phil Brown', 'Uncle Owen', 'Male', '32', 'error' ],
    [ 'Shelagh Fraser', 'Aunt Beru', 'Female', '29' ],
    [ 'Alex McCrindle', 'General Dodonna', 'Male', '43', 'fail' ]
];</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-two-a glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 3 (Pass):</h2>
                When a complex child object of type matrix table is encountered,<br />
                it is rendered as a complex table. Note, when a child listing has a<br />
                string property or attribute that exceeds the max summary string length,<br />
                it is trimmed and summaried 
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioThreeData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : [
            [ 'Actor', 'Character', 'Gender', 'Age' ],
            [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
            [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ]
        ],
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-three glimpse-panel"></td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioThreeDataA = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : [
            [ 'Actor', 'Character', 'Gender', 'Age' ],
            [ 'Mark Hamill', 'Luke Skywalker - Luke Skywalker was a legendary war
                             hero and Jedi who helped defeat the Galactic
                             Empire in the Galactic Civil War and helped 
                             found the New Republic, as well as the New 
                             Jedi Order.', 'Male', '21' ],
            [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
        ],
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-three-a glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 4 (Pass):</h2>
                When a complex child object of type matrix table is encountered<br /> 
                that exceeds the max of child items that can be rendered, it is<br /> 
                rendered in an abbreviated form
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioThreeData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : [
            [ 'Actor', 'Character', 'Gender', 'Age' ],
            [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
            [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
            [ 'Harrison Ford', 'Han Solo', 'Male', '25' ],
            [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
            [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
            [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70' ],
            [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
            [ 'Kenny Baker', 'R2-D2', 'Droid', '150' ]
        ],
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-four glimpse-panel"></td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioThreeData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : [
            [ 'Actor', 'Character', 'Gender', 'Age' ],
            [ 'Mark Hamill', 'Luke Skywalker - Luke Skywalker was a legendary 
                                war hero and Jedi who helped defeat the Galactic 
                                Empire in the Galactic Civil War and helped found
                                the New Republic, as well as the 
                                New Jedi Order.', 'Male', '21' ],
            [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
            [ 'Harrison Ford', 'Han Solo', 'Male', '25' ],
            [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
            [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
            [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70' ],
            [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
            [ 'Kenny Baker', 'R2-D2', 'Droid', '150' ]
        ],
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-four-a glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 5 (Pass):</h2>
                When a json child object is encountered, it is rendered as a<br /> 
                simple key value pair table
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioThreeData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : { 
            'Mark Hamill' : 'Luke Skywalker',
            'James Earl Jones' : 'Darth Vader',
            'Harrison Ford' : 'Han Solo' 
        },
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-five glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 6 (Pass):</h2>
                When a json child object is encountered table that exceeds the max<br />
                of child items that can be rendered, it is rendered in an abbreviated form
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioThreeData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : { 
            'Mark Hamill' : 'Luke Skywalker',
            'James Earl Jones' : 'Darth Vader',
            'Harrison Ford' : 'Han Solo',
            'Carrie Fisher' : 'Princess Leia Organa',
            'Peter Cushing' : 'Grand Moff Tarkin',
            'Alec Guinness' : 'Ben Obi-Wan Kenobi',
            'Anthony Daniels' : 'C-3PO',
            'Kenny Baker' : 'R2-D2'
        },
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-six glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 7 (Pass):</h2>
                When a complex child object of type matrix table is encountered,<br />
                it is rendered as a complex table. Note, when a child listing has a<br />
                string property or attribute that exceeds the max summary string length,<br />
                it is trimmed and summaried 
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioSevenData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : [
            [ 'Actor', 'Character', 'Gender', 'Age' ],
            [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
            [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ]
        ],
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-seven glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 8 (Pass):</h2>
                When a complex child object of type matrix table is encountered<br /> 
                that exceeds the max of child items that can be rendered, it is<br /> 
                rendered in an abbreviated form
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioEightData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : [
            [ 'Actor', 'Character', 'Gender', 'Age' ],
            [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
            [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
            [ 'Harrison Ford', 'Han Solo', 'Male', '25' ],
            [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
            [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
            [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70' ],
            [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
            [ 'Kenny Baker', 'R2-D2', 'Droid', '150' ]
        ],
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-eight glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 9 (Pass):</h2>
                When a json child object is encountered, it is rendered as a<br /> 
                simple key value pair table
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioNineData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : { 
            'Mark Hamill' : 'Luke Skywalker',
            'James Earl Jones' : 'Darth Vader',
            'Harrison Ford' : 'Han Solo' 
        },
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-nine glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 10 (Pass):</h2>
                When a json child object is encountered table that exceeds the max<br />
                of child items that can be rendered, it is rendered in an abbreviated form
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioTenData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : { 
            'Mark Hamill' : 'Luke Skywalker',
            'James Earl Jones' : 'Darth Vader',
            'Harrison Ford' : 'Han Solo',
            'Carrie Fisher' : 'Princess Leia Organa',
            'Peter Cushing' : 'Grand Moff Tarkin',
            'Alec Guinness' : 'Ben Obi-Wan Kenobi',
            'Anthony Daniels' : 'C-3PO',
            'Kenny Baker' : 'R2-D2'
        },
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-ten glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 11 (Pass):</h2>
                
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioThreeData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : [
            [ 'Actor', 'Character', 'Gender', 'Age' ],
            [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
            [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ]
        ],
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-eleven glimpse-panel"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Scenario 12 (Pass):</h2> 
            </td>
        </tr>
        <tr>
            <td class="glimpse-scenario-data">
<pre>var scenarioThreeData = {
    'Movie' : 'Star Wars',
    'Genera/Theme' : 'Science Fiction',
    'Actors/Cast' : [
            [ 'Actor', 'Character', 'Gender', 'Age' ],
            [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
            [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
            [ 'Harrison Ford', 'Han Solo', 'Male', '25' ],
            [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
            [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
            [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70' ],
            [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
            [ 'Kenny Baker', 'R2-D2', 'Droid', '150' ]
        ],
    'Plot & Description' : 'Luke Skywalker leaves his home planet, 
                            teams up with other rebels, and tries to 
                            save Princess Leia from the evil clutches 
                            of Darth Vader.'
};</pre> 
            </td>
            <td class="glimpse-scenario glimpse-scenario-twelve glimpse-panel"></td>
        </tr>
    </table>
     
<style>
    .glimpse-open { position:fixed; right:0; bottom:0; height:27px; width:28px; border-left: 1px solid #ACA899; border-top: 1px solid #ACA899; background:#EEE; background:-moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 4%, #F3F5F7 8%, #E9E8DD 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(4%,#EEEEEE), color-stop(8%,#F3F5F7), color-stop(100%,#E9E8DD)); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E9E8DD',GradientType=0 ); }
    .glimpse-icon { background:url(/Scripts/glimpse-sprite.png) 0px -16px; height:20px; width:20px; margin: 3px 4px 0; cursor:pointer; }
    .glimpse-holder { display:none; height:0; position:fixed; bottom:0; left:0; width:100%; background-color:#fff; font-family:Lucida Grande,Tahoma,sans-serif; font-size:11px; }
    .glimpse-bar { height:27px; border-top:1px solid #ACA899; background:#FFFFFF; background:-moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 4%, #F3F5F7 8%, #E9E8DD 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(4%,#EEEEEE), color-stop(8%,#F3F5F7), color-stop(100%,#E9E8DD)); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E9E8DD',GradientType=0 ); }
    .glimpse-bar .glimpse-icon { margin-top:4px; float:left; cursor:default; }
    .glimpse-buttons { float:right; height:17px; width:16px; padding:6px; }
    .glimpse-title { margin:5px 0 0 15px; font-weight:bold; float:left; }
    .glimpse-close { background:url(/Scripts/glimpse-sprite.png) -1px -1px no-repeat; height:14px; width:14px; display:block; }
    .glimpse-close:hover { background:url(/Scripts/glimpse-sprite.png) -17px -1px no-repeat; }
    .glimpse-tabs { height:24px; font-weight:bold; border-bottom:1px solid #ACA899; border-top:1px solid #CDCABB; background:#B9B7AF; background:-moz-linear-gradient(top, #B9B7AF 0%, #DAD8C8 4%, #D7D4C5 10%, #E9E6D5 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9B7AF), color-stop(4%,#DAD8C8), color-stop(10%,#D7D4C5), color-stop(100%,#E9E6D5)); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#B9B7AF', endColorstr='#E9E6D5',GradientType=0 );  }
    .glimpse-tabs ul { margin:4px 0px 0 0; padding:0px; }
    .glimpse-tabs li { display:inline; margin:0 2px 3px 2px; height:22px; padding:4px 9px 3px; color:#565656; cursor:pointer; border-radius: 0px 0px 3px 3px; -moz-border-radius: 0px 0px 3px 3px; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; }
    .glimpse-tabs li.glimpse-active { padding:4px 8px 3px; color:#000; border-left:1px solid #A4A4A4; border-bottom:1px solid #A4A4A4; border-right:1px solid #A4A4A4; background:#F2F1EC; background:-moz-linear-gradient(top, #F2F1EC 0%, #F2F1EC 3%, #EFEEE9 7%, #E8E7E1 51%, #F7F6F1 92%, #F1F0EB 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F1EC), color-stop(3%,#F2F1EC), color-stop(7%,#EFEEE9), color-stop(51%,#E8E7E1), color-stop(92%,#F7F6F1), color-stop(100%,#F1F0EB)); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F1EC', endColorstr='#F1F0EB',GradientType=0 ); }
    .glimpse-tabs li.glimpse-hover { padding:4px 8px 3px; border-left:1px solid #BFBDB1; border-bottom:1px solid #BFBDB1; border-right:1px solid #BFBDB1; background:#BFBDB1; background:-moz-linear-gradient(top, #BFBDB1 0%, #DAD9CB 4%, #D8D5C9 8%, #E8E7E1 51%, #F0EEE4 92%, #EDEBE1 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#BFBDB1), color-stop(4%,#DAD9CB), color-stop(8%,#D8D5C9), color-stop(51%,#E8E7E1), color-stop(92%,#F0EEE4), color-stop(100%,#EDEBE1)); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#BFBDB1', endColorstr='#EDEBE1',GradientType=0 ); }
    .glimpse-tabs li.glimpse-disabled { color:#AAA; cursor:default; }
    .glimpse-panel-holder {}
    .glimpse-panel { display:none; overflow:auto; } 
    .glimpse-panel-message { text-align:center; margin-top:40px; font-size:1.1em; color:#AAA; }
    .glimpse-panel table { border-spacing:0; width:100%; }
    .glimpse-panel table td, .glimpse-panel table th { padding:3px 4px; text-align:left; vertical-align:top; } 
    .glimpse-panel .glimpse-row-header-0 { height:19px; border-bottom:1px solid #9C9C9C; background:#C6C6C6; background:-moz-linear-gradient(top, #DEDEDE 0%, #BDBDBD 80%, #BBB 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#DEDEDE), color-stop(80%,#BDBDBD), color-stop(100%,#BBB)); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#DEDEDE', endColorstr='#BBB',GradientType=0 ); }
    .glimpse-panel .glimpse-row-header-0 th { border-left:1px solid #D9D9D9; border-right:1px solid #9C9C9C; }
    .glimpse-panel table table { /*border-collapse:collapse;*/ border:1px solid #D9D9D9; } 
    .glimpse-panel table table thead tr { height:17px; border-bottom:1px solid #9C9C9C; background:#C6C6C6; background:-moz-linear-gradient(top, #F1F1F1 0%, #DFDFDF 80%, #DDD 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1F1F1), color-stop(80%,#DFDFDF), color-stop(100%,#DDD)); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#DDD',GradientType=0 ); }
    .glimpse-panel table table thead tr th { border-left:1px solid #C6C6C6; border-right:1px solid #D9D9D9; padding:1px 4px 2px 4px; }
    .glimpse-panel table table thead tr th:first-child { border-left:0px; }
    .glimpse-panel table table thead tr th:last-child { border-right:0px; }
    /*.glimpse-panel table table thead th { border-left:1px solid #9C9C9C; border-right:1px solid #9C9C9C; border-bottom:1px solid #9C9C9C; }*/
    .glimpse-panel tbody tr.even { background:#F4F4F4; }
    .glimpse-panel tbody tr.odd { background:#F9F9F9; }
    .glimpse-panel table table tbody th { font-weight:normal; font-style:italic; }
    .glimpse-panel table table thead th { font-weight:bold; font-style:normal; }
    .glimpse-panel-holder .glimpse-active { display:block; }
    .glimpse-resizer { height:4px; cursor:n-resize; width:100%; position:absolute; top:-1px; }
    .glimpse-preview-object { color:#006400; } 
    .glimpse-preview-string { color:#006400 !important; font-weight:normal !important; } 
    .glimpse-preview-string span { padding-left:1px; }
    .glimpse-preview-object span { font-weight:bold; color:#444; } 
    .glimpse-preview-object span.start { margin-right:5px; } 
    .glimpse-preview-object span.end { margin-left:5px; }
    .glimpse-preview-object span.rspace { margin-right:4px; }
    .glimpse-preview-object span.mspace { margin:0 4px; }
    .glimpse-preview-object span.small { font-size:0.95em; } 
    .glimpse-expand { height:11px; width:11px; display: inline-block; float:left; margin:0px 3px; cursor:pointer; background-image:url(/Scripts/glimpse-sprite.png); background-repeat:no-repeat; background-position:-64px 0; }
    .glimpse-collapse { background-position:-64px -11px; }
    .glimpse-preview-show { display:none; font-weight:normal !important; }
    .glimpse-panel tbody tr.quiet { color:#AAA; }
    .glimpse-panel tbody tr.suppress { color:#AAA; text-decoration:line-through; }
    .glimpse-panel tbody tr.selected { background-color:#FFFF99; color:#409B3B; }
    .glimpse-panel tbody tr.info .icon, .glimpse-panel tbody tr.warn .icon, .glimpse-panel tbody tr.loading .icon, .glimpse-panel tbody tr.error .icon, .glimpse-panel tbody tr.fail .icon { width:14px; height:14px; background-image:url(/Scripts/glimpse-sprite.png); background-repeat:no-repeat; float:left; margin-right: 5px; } 
    .glimpse-panel tbody tr.info .icon { background-position: -22px -22px; }
    .glimpse-panel tbody tr.warn .icon { background-position:-36px -22px; }
    .glimpse-panel tbody tr.loading .icon { background-position:-78px -22px; }
    .glimpse-panel tbody tr.error .icon { background-position:-50px -22px; } 
    .glimpse-panel tbody tr.fail .icon { background-position:-64px -22px; }
    .glimpse-panel tbody tr.info { color:#067CE5; }
    .glimpse-panel tbody tr.warn { color:#FE850C; } 
    .glimpse-panel tbody tr.error { color:#B40000; }
    .glimpse-panel tbody tr.fail { color:#D00; font-weight:bold; }
    .glimpse-panelitem-XHReqests tbody tr.loading .icon { float:right; }
</style>
<style>
    h1, h2 { margin:0; padding:0; }
    .glimpse-scenario { font-family:Lucida Grande,Tahoma,sans-serif; font-size:11px; } 
</style>

    <script src="/Scripts/jquery-1.4.4.js" type="text/javascript"></script>
    <script src="/Scripts/XMLHttpRequestWrapper.js" type="text/javascript"></script> 

<script>
$(document).ready(function() {
    var scenarioOneData = {
            'Movie' : 'Star Wars',
            'Genera/Theme' : 'Science Fiction',
            'GlimpseOn' : 'True',
            'Plot & Description' : 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.'
        };
    $('.glimpse-scenario-one').show().html($.glimpseProcessor.build(scenarioOneData, 0));
    
    var scenarioTwoData = [
            [ 'Actor', 'Character', 'Gender', 'Age' ],
            [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
            [ 'James Earl Jones', 'Darth Vader', 'Male', '45', 'quiet' ],
            [ 'Harrison Ford', 'Han Solo', 'Male', '25' ],
            [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
            [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
            [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70', 'selected' ],
            [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
            [ 'Kenny Baker', 'R2-D2', 'Droid', '150' ]
        ]; 
    $('.glimpse-scenario-two').show().html($.glimpseProcessor.build(scenarioTwoData, 0));
    
    var scenarioTwoDataA = [
            [ 'Actor', 'Character', 'Gender', 'Age' ],
            [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
            [ 'James Earl Jones', 'Darth Vader', 'Male', '45', 'info' ],
            [ 'Harrison Ford', 'Han Solo - Solo plays a central role in the various Star Wars set after Return of the Jedi. In The Courtship of Princess Leia (1995), he resigns his commission to pursue Leia, whom he eventually marries.', 'Male', '25' ],
            [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
            [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
            [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70', 'warn' ],
            [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
            [ 'Kenny Baker', 'R2-D2 - R2-D2 and C-3PO are abducted by Jawas and bought by Owen Lars, step-uncle of Luke Skywalker. While Luke cleans the sand out of R2-D2\'s gears, he discovers a fragment of Leia\'s message, and removes the droid\'s restraining bolt to see more; once free of the bolt, R2 claims to have no knowledge of the message.', 'Droid', '150' ],
            [ 'Peter Mayhew', 'Chewbacca', 'Wookie', '45' ],
            [ 'Phil Brown', 'Uncle Owen', 'Male', '32', 'error' ],
            [ 'Shelagh Fraser', 'Aunt Beru', 'Female', '29' ],
            [ 'Alex McCrindle', 'General Dodonna', 'Male', '43', 'fail' ]
        ]; 
    $('.glimpse-scenario-two-a').show().html($.glimpseProcessor.build(scenarioTwoDataA, 0));
     
    var scenarioThreeData = {
            'Movie' : 'Star Wars',
            'Genera/Theme' : 'Science Fiction',
            'Actors/Cast' : [
                   [ 'Actor', 'Character', 'Gender', 'Age' ],
                   [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
                   [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
                ],
            'Plot & Description' : 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.' 
        };
    $('.glimpse-scenario-three').show().html($.glimpseProcessor.build(scenarioThreeData, 0));
    
    
    var scenarioThreeDataA = {
            'Movie' : 'Star Wars',
            'Genera/Theme' : 'Science Fiction',
            'Actors/Cast' : [
                   [ 'Actor', 'Character', 'Gender', 'Age' ],
                   [ 'Mark Hamill', 'Luke Skywalker - Luke Skywalker was a legendary war hero and Jedi who helped defeat the Galactic Empire in the Galactic Civil War and helped found the New Republic, as well as the New Jedi Order.', 'Male', '21' ],
                   [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
                ],
            'Plot & Description' : 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.' 
        };
    $('.glimpse-scenario-three-a').show().html($.glimpseProcessor.build(scenarioThreeDataA, 0));

    var scenarioFourData = {
            'Movie' : 'Star Wars',
            'Genera/Theme' : 'Science Fiction',
            'Actors/Cast' : [
                   [ 'Actor', 'Character', 'Gender', 'Age' ],
                   [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
                   [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
                   [ 'Harrison Ford', 'Han Solo', 'Male', '25' ],
                   [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
                   [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
                   [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70' ],
                   [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
                   [ 'Kenny Baker', 'R2-D2', 'Droid', '150' ]
                ],
            'Plot & Description' : 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.' 
        };
    $('.glimpse-scenario-four').show().html($.glimpseProcessor.build(scenarioFourData, 0));
    
    var scenarioFourDataA = {
            'Movie' : 'Star Wars',
            'Genera/Theme' : 'Science Fiction',
            'Actors/Cast' : [
                   [ 'Actor', 'Character', 'Gender', 'Age' ],
                   [ 'Mark Hamill', 'Luke Skywalker - Luke Skywalker was a legendary war hero and Jedi who helped defeat the Galactic Empire in the Galactic Civil War and helped found the New Republic, as well as the New Jedi Order.', 'Male', '21' ],
                   [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
                   [ 'Harrison Ford', 'Han Solo', 'Male', '25' ],
                   [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
                   [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
                   [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70' ],
                   [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
                   [ 'Kenny Baker', 'R2-D2', 'Droid', '150' ]
                ],
            'Plot & Description' : 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.' 
        };
    $('.glimpse-scenario-four-a').show().html($.glimpseProcessor.build(scenarioFourDataA, 0));
    
    var scenarioFiveData = {
            'Movie' : 'Star Wars',
            'Genera/Theme' : 'Science Fiction',
            'Actors/Cast' : { 
                    'Mark Hamill' : 'Luke Skywalker',
                    'James Earl Jones' : 'Darth Vader',
                    'Harrison Ford' : 'Han Solo' 
                },
            'Plot & Description' : 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.' 
        };
    $('.glimpse-scenario-five').show().html($.glimpseProcessor.build(scenarioFiveData, 0));
    
    var scenarioSixData = {
            'Movie' : 'Star Wars',
            'Genera/Theme' : 'Science Fiction',
            'Actors/Cast' : { 
                    'Mark Hamill' : 'Luke Skywalker',
                    'James Earl Jones' : 'Darth Vader',
                    'Harrison Ford' : 'Han Solo',
                    'Carrie Fisher' : 'Princess Leia Organa',
                    'Peter Cushing' : 'Grand Moff Tarkin',
                    'Alec Guinness' : 'Ben Obi-Wan Kenobi',
                    'Anthony Daniels' : 'C-3PO',
                    'Kenny Baker' : 'R2-D2'
                },
            'Plot & Description' : 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.' 
        };
         
    $('.glimpse-scenario-six').show().html($.glimpseProcessor.build(scenarioSixData, 0));
     
    var scenarioSevenData = [
            [ 'Type', 'Name', 'Other' ],
            [ 'Movie', 'Star Wars', 'Episode IV' ],
            [ 'Genera/Theme', 'Science Fiction', 'Action' ],
            [ 'Actors/Cast', [
                   [ 'Actor', 'Character', 'Gender', 'Age' ],
                   [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
                   [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
                ], 'Cast details pending' ],
            [ 'Plot & Description', 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.',  ' Best movie of all time' ]
        ];
         
    $('.glimpse-scenario-seven').show().html($.glimpseProcessor.build(scenarioSevenData, 0));
     
    var scenarioEightData = [
            [ 'Type', 'Name', 'Other' ],
            [ 'Movie', 'Star Wars', 'Episode IV' ],
            [ 'Genera/Theme', 'Science Fiction', 'Action' ],
            [ 'Actors/Cast', [
                   [ 'Actor', 'Character', 'Gender', 'Age' ],
                   [ 'Mark Hamill', 'Luke Skywalker', 'Male', '21' ],
                   [ 'James Earl Jones', 'Darth Vader', 'Male', '45' ],
                   [ 'Harrison Ford', 'Han Solo', 'Male', '25' ],
                   [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
                   [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
                   [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70' ],
                   [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
                   [ 'Kenny Baker', 'R2-D2', 'Droid', '150' ]
                ], 'Cast details pending' ],
            [ 'Plot & Description', 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.',  ' Best movie of all time' ]
        ];
         
    $('.glimpse-scenario-eight').show().html($.glimpseProcessor.build(scenarioEightData, 0));
     
    var scenarioNineData = [
            [ 'Type', 'Name', 'Other' ],
            [ 'Movie', 'Star Wars', 'Episode IV' ],
            [ 'Genera/Theme', 'Science Fiction', 'Action' ],
            [ 'Actors/Cast', { 
                    'Mark Hamill' : 'Luke Skywalker',
                    'James Earl Jones' : 'Darth Vader',
                    'Harrison Ford' : 'Han Solo' 
                }, 'Cast details pending' ],
            [ 'Plot & Description', 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.',  ' Best movie of all time' ]
        ];
         
    $('.glimpse-scenario-nine').show().html($.glimpseProcessor.build(scenarioNineData, 0));
    
    var scenarioTenData = [
            [ 'Type', 'Name', 'Other' ],
            [ 'Movie', 'Star Wars', 'Episode IV' ],
            [ 'Genera/Theme', 'Science Fiction', 'Action' ],
            [ 'Actors/Cast', { 
                    'Mark Hamill' : 'Luke Skywalker',
                    'James Earl Jones' : 'Darth Vader',
                    'Harrison Ford' : 'Han Solo',
                    'Carrie Fisher' : 'Princess Leia Organa',
                    'Peter Cushing' : 'Grand Moff Tarkin',
                    'Alec Guinness' : 'Ben Obi-Wan Kenobi',
                    'Anthony Daniels' : 'C-3PO',
                    'Kenny Baker' : 'R2-D2' 
                }, 'Cast details pending' ],
            [ 'Plot & Description', 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.',  ' Best movie of all time' ]
        ];
         
    $('.glimpse-scenario-ten').show().html($.glimpseProcessor.build(scenarioTenData, 0));
 
    var scenarioElevenData = {
            'Movie' : 'Star Wars',
            'Genera/Theme' : 'Science Fiction',
            'Actors/Cast' : [
                   [ 'Actor', 'Character', 'Gender', 'Age' ],
                   [ 'Mark Hamill', { 'Frist Name' : 'Luke Skywalker' }, 'Male', '21' ],
                   [ 'James Earl Jones', 'Darth Vader', [ [ 'Height', 'Weight' ], [ '213', '433' ] ], 'Male' ],
                ],
            'Plot & Description' : 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.' 
        };
    $('.glimpse-scenario-eleven').show().html($.glimpseProcessor.build(scenarioElevenData, 0));
    
    var scenarioTwelveData = {
            'Movie' : 'Star Wars',
            'Genera/Theme' : 'Science Fiction',
            'Actors/Cast' : [
                   [ 'Actor', 'Character', 'Gender', 'Age' ],
                   [ 'Mark Hamill', { 'Frist Name' : 'Luke Skywalker' }, 'Male', '21' ],
                   [ 'James Earl Jones', 'Darth Vader', [ [ 'Height', 'Weight' ], [ '213', '433' ] ], 'Male' ],
                   [ 'Harrison Ford', 'Han Solo', 'Male', '25' ],
                   [ 'Carrie Fisher', 'Princess Leia Organa', 'Female', '21' ],
                   [ 'Peter Cushing', 'Grand Moff Tarkin', 'Female', '69' ],
                   [ 'Alec Guinness', 'Ben Obi-Wan Kenobi', 'Female', '70' ],
                   [ 'Anthony Daniels', 'C-3PO', 'Droid', '101' ],
                   [ 'Kenny Baker', 'R2-D2', 'Droid', '150' ]
                ],
            'Plot & Description' : 'Luke Skywalker leaves his home planet, teams up with other rebels, and tries to save Princess Leia from the evil clutches of Darth Vader.' 
        };
    $('.glimpse-scenario-twelve').show().html($.glimpseProcessor.build(scenarioTwelveData, 0));
    
});
</script>

<script>
var glimpse;
if (window.jQuery) { (function ($) {

    $.glimpse = {}; 
    $.glimpseProcessor = {};
    $.glimpseContent = {};
    $.glimpseResize = {}; 

	$.extend($.fn, {
        resizer : function() {
		    return this.each(function() { 
                var gr = $.glimpseResize;
		        gr.options.anchor = $(this).bind("mousedown", {el: $(this).parent()}, gr.startDrag); 
		    });
	    },
        sortElements : (function() { 
            var sort = [].sort; 
            return function(comparator, getSortable) { 
                getSortable = getSortable || function()  { return this; };
                comparator = comparator || function(a, b) { return $(a).data('sort') > $(b).data('sort') ? 1 : -1; };
                var placements = this.map(function() { 
                    var sortElement = getSortable.call(this), parentNode = sortElement.parentNode, nextSibling = parentNode.insertBefore(document.createTextNode(''), sortElement.nextSibling);
                    return function() { 
                        if (parentNode === this) {
                            throw new Error("You can't sort elements if any one is a descendant of another.");
                        }
                        parentNode.insertBefore(this, nextSibling); 
                        parentNode.removeChild(nextSibling); 
                    }; 
                }); 
                return sort.call(this, comparator).each(function(i) {
                    placements[i].call(getSortable.call(this));
                }); 
            };
        })()
    });

	$.extend({ 
        htmlEncode : function(value) { 
            return !(value == undefined || value == null) ? $('<div/>').text(value).html() : ''; 
        },
        htmlDecode : function(value) { 
            return !(value == undefined || value == null) ? $('<div/>').html(value).text() : ''; 
        },
        lengthJson : function(data) {
            var count = 0;
            if ($.isPlainObject(data))
                $.each(data, function(k, v) { count++; });
            return count;
        },
        formatTime : function(d) {
            if (typeof d === 'number')
                d = new Date(d);
            var padding = function(t) { return t < 10 ? '0' + t : t; }
            return d.getHours() + ':' + padding(d.getMinutes()) + ':' + padding(d.getSeconds()) + ' ' +d.getMilliseconds();
        }
    });
     
    $.extend($.glimpseResize, {
        options : {
            anchor : null, 
            staticOffset : null, 
            lastMousePos : 0,
            min : 50, 
            endDragCallback : function(height) {} },
        startDrag : function(e) { 
            var gr = $.glimpseResize, o = gr.options; 
		    o.anchor = $(e.data.el);
	        o.lastMousePos = gr.mousePosition(e).y; 
	        o.staticOffset = o.anchor.height() + o.lastMousePos;
	        o.anchor.css('opacity', 0.50);
	        $(document).mousemove(gr.performDrag).mouseup(gr.endDrag);
	        return false;
        },
	    performDrag : function(e) {
            var gr = $.glimpseResize, o = gr.options; 
	        var mousePos = gr.mousePosition(e).y;
	        var offsetMousePos = o.staticOffset - mousePos;
	        if (o.lastMousePos >= mousePos) {
		        offsetMousePos += 4;
	        }
	        offsetMousePos = Math.max(o.min, offsetMousePos);
	        o.anchor.height(offsetMousePos + 'px');
	        o.lastMousePos = mousePos;
	        if (offsetMousePos < o.min) {
		        gr.endDrag(e);
	        }
	        return false;
        },
        endDrag : function(e) {
            var gr = $.glimpseResize, o = gr.options; 
	        $(document).unbind('mousemove', gr.performDrag).unbind('mouseup', gr.endDrag);
	        o.anchor.css('opacity', 1); 
	        o.anchor = null;
	        o.staticOffset = null;
	        o.lastMousePos = 0;
            o.endDragCallback();
        },
        mousePosition : function(e) {
            var d = document.documentElement;
	        return { x: e.clientX + d.scrollLeft, y: e.clientY + d.scrollTop };
        }
    });
    
    $.extend($.glimpseProcessor, { 
        layout : function(g, options, url) {
            var that = this, tabStrip = options.tabStrip(), panelHolder = options.panelHolder();
             
            var start = new Date().getTime();

            //Build Dynamic HTML
            for (var key in options.data) {
                if ($('.glimpse-tabitem-' + key, tabStrip).length == 0) {
                    that.addTab(tabStrip, options.data[key], key);
                    that.addTabBody(panelHolder, that.build(options.data[key], 0), key); 
                }
            }

            $('li', tabStrip).sortElements(); 
            $('.glimpse-panel', panelHolder).sortElements(); 

            console.log((new Date().getTime() - start) + ' ms render time');
             
            //Set Inital State - TODO: don't like how this works... need to review
            $('.info td:first-child, .warn td:first-child, tr.error td:first-child, .fail td:first-child, .loading td:first-child', $('.glimpse-panel')).not(':has(.icon)').prepend('<div class="icon"></div>');

            $('.glimpse-active', tabStrip).removeClass('glimpse-active').removeClass('glimpse-hover');
            $('li:first', tabStrip).addClass('glimpse-active');

            $('.glimpse-active', panelHolder).removeClass('glimpse-active');
            $('.glimpse-panel:first', panelHolder).addClass('glimpse-active');
             
            $('.glimpse-title').text(url);
        }, 
        addTab : function(container, data, key) {
            var disabled = (data === undefined || data === null) ? ' glimpse-disabled' : '';
            container.append('<li class="glimpse-tabitem-' + key + disabled + '" data-sort="' + key + '">' + key + '</li>');
        },
        addTabBody : function(container, content, key) {
            container.append('<div class="glimpse-panel glimpse-panelitem-' + key + '" data-sort="' + key + '">' + content + '</div>');
        },
        clearLayout : function(g, options) {
            var that = this, tabStrip = options.tabStrip(), panelHolder = options.panelHolder();
            
            that.removeTabs(tabStrip);
            that.removeTabBodies(panelHolder);
        },
        removeTabs : function(container) {
            $('li:not(.glimpse-permanent)', container).remove();
        },
        removeTabBodies : function(container) {
            $('.glimpse-panel:not(.glimpse-permanent)', container).remove();
        }, 
        build : function(data, level) { 
            var that = this, result = '';

            if ($.isArray(data))
                result = that.buildCustomTable(data, level);
            else if ($.isPlainObject(data))
                result = that.buildKeyValueTable(data, level);
            else if (level == 0) {
                if (data === undefined || data === null || data === '')
                    result = '';
                else 
                    result = '<div class="glimpse-panel-message">' + data + '</div>';
            }
            else 
                result = that.buildString(data, level);
                 
            return result;
        },
        buildKeyValueTable : function(data, level, forceFull) { 
            var that = this, limit = 2;
            if (((level > 0 && $.lengthJson(data) > (limit + 1)) || level > 1) && !forceFull) 
                return that.buildKeyValuePreview(data, limit); 
                
            var i = 1, html = '<table><thead><tr class="glimpse-row-header-' + level + '"><th>Key</th><th>Value</th></tr></thead>';   
            for (var key in data)
                html += '<tr class="' + (i++ % 2 ? 'odd' : 'even') + '"><th width="30%">' + $.glimpseContent.formatString(key) + '</th><td width="70%"> '+ that.build(data[key], level + 1) + '</td></tr>';
            html += '</table>';
            return html; 
        },
        buildCustomTable : function(data, level, forceFull) {
            var that = this, limit = 2; 
            if (((level > 0 && data.length > (limit + 1)) || level > 1) && !forceFull)
                return that.buildCustomPreview(data, limit);

            var html = '<table><thead><tr class="glimpse-row-header-' + level + '">';
            for (var x = 0; x < data[0].length; x++)
                html += '<th>' + $.glimpseContent.formatString(data[0][x]) + '</th>';
            html += '</tr></thead>';
            for (var i = 1; i < data.length; i++) {
                html += '<tr class="' + (i % 2 ? 'odd' : 'even') + (data[i].length > data[0].length ? ' ' + data[i][data[i].length - 1] : '') + '">';
                for (var x = 0; x < data[0].length; x++)
                    html += '<td>' + that.build(data[i][x], level + 1) + '</td>';
                html += '</tr>';
            }
            html += '</table>';
            return html; 
        },
        buildString : function(data, level) {  
            return this.buildStringPreview(data, level);
        },
        buildKeyValuePreview : function(data, level) {    
            var that = this, length = $.lengthJson(data), rowMax = 2, rowLimit = (rowMax < length ? rowMax : length), i = 1, html = '<span class="glimpse-expand"></span><span class="glimpse-preview-object"><span class="start">{</span>'; 
            for (var key in data) {
                html += that.newItemSpacer(i, rowLimit, length);
                if (i > length || i++ > rowLimit)
                    break; 
                html += '<span>\'</span>' + that.buildStringPreview(key, level + 1) + '<span>\'</span><span class="mspace">:</span><span>\'</span>' + that.buildStringPreview(data[key], level + 99) + '<span>\'</span>'; 
            }
            html += '<span class="end">}</span></span><span class="glimpse-preview-show">' + that.buildKeyValueTable(data, level, true) + '</span>';
            return html;
        },
        buildCustomPreview : function(data, level) {  
            var that = this, length = data.length - 1, rowMax = 2, columnMax = 3, columnLimit = ((data[0].length > columnMax) ? columnMax : data[0].length), rowLimit = (rowMax < length ? rowMax : length), html = '<span class="glimpse-expand"></span><span class="glimpse-preview-object"><span class="start">[</span>';
            
            for (var i = 1; i <= rowLimit + 1; i++) {  
                html += that.newItemSpacer(i, rowLimit, length);
                if (i > length || i > rowLimit)
                    break;

                html += '<span class="start">[</span>';
                var spacer = '';
                for (var x = 0; x < columnLimit; x++) {
                    html += spacer + '<span>\'</span>' + that.buildStringPreview(data[i][x], level + 99) + '<span>\'</span>'; 
                    spacer = '<span class="rspace">,</span>';
                }
                if (x < data[0].length)
                    html += spacer + '<span>...</span>'
                html += '<span class="end">]</span>';  
            }
            html += '<span class="end">]</span></span><span class="glimpse-preview-show">' + that.buildCustomTable(data, level, true) + '</span>';
            return html;
        },
        buildStringPreview : function(data, level) { 
            if (data == undefined || data == null)
                return '--';
            if ($.isArray(data))
                return "[ ... ]";  
            if ($.isPlainObject(data))
                return "{ ... }";   

            var that = this, 
                charMax = (level > 100 ? 12 : level > 1 ? 80 : 150), 
                charOuterMax = (charMax * 1.2), 
                content = $.glimpseContent.trimFormatString(data, charMax, charOuterMax, true);

            if (data.length > charOuterMax) {
                content = '<span class="glimpse-preview-string" title="' + $.glimpseContent.trimFormatString(data, charMax * 2, charMax * 2.1, false, true)  + '">' + content + '</span>';
                if (level < 100)
                    content = '<span class="glimpse-expand"></span>' + content + '<span class="glimpse-preview-show">' + $.glimpseContent.formatString(data) + '</span>'; 
            }
            return content;
        },
        newItemSpacer : function(currentRow, rowLimit, dataLength) {
            var html = '';
            if (rowLimit != dataLength) {
                if (currentRow > 1) 
                    html += '<span class="rspace">,</span>';
                if (currentRow > rowLimit) 
                    html += '<span class="small">length=' + dataLength + '</span>';
            }
            return html;
        }
    });

    $.extend($.glimpseContent, {
        formatStringTypes : {
            italics : {
                match : function(d) { return d.match(/^\_[\w\D]+\_$/) != null; },
                replace : function(d) { return '<em>' + $.htmlEncode($.glimpseContent.scrub(d)) + '</em>'; },
                trimmable : true },
            underline : {
                match : function(d) { return d.match(/^\\[\w\D]+\\$/) != null; },
                replace : function(d) { return '<u>' + $.htmlEncode($.glimpseContent.scrub(d)) + '</u>'; },
                trimmable : true },
            strong : {
                match : function(d) { return d.match(/^\*[\w\D]+\*$/) != null; },
                replace : function(d) { return '<strong>' + $.htmlEncode($.glimpseContent.scrub(d)) + '</strong>'; },
                trimmable : true },
            raw : {
                match : function(d) { return d.match(/^\![\w\D]+\!$/) != null; },
                replace : function(d) { return $.glimpseContent.scrub(d); },
                trimmable : false }
        },
        scrub : function(d) {
            return d.substr(1, d.length - 2);
        },
        formatString : function(data) {
            var that = this;
            return that.trimFormatString(data);
        },
        trimFormatString : function(data, charMax, charOuterMax, wrapEllipsis, skipEncoding) {
            var that = this, trimmable = true, replace = function(d) { return $.htmlEncode(d); };
            
            if (data == undefined || data == null)
                return '--';
            data = $.trim(data);

            if (!skipEncoding) {
                for (var typeKey in that.formatStringTypes) {
                    var type = that.formatStringTypes[typeKey]; 
                    if (type.match(data)) {
                        replace = type.replace;
                        trimmable = type.trimmable;
                        break;
                    }
                }
            }
             
            if (trimmable && charOuterMax && data.length > charOuterMax)
                return replace(data.substr(0, charMax)) + (wrapEllipsis ? '<span>...</span>' : '...');
            return replace(data);  
        }
    });

    var _persistHeight = function(g, options) {
        options.height = $('.glimpse-holder').height();
        //$.cookie('GlimpseSettings', true);
    }
   
    $.extend($.glimpse, {
        addProtocolListener : function(callback, onInitOnly) {
            $.glimpse._context.protocolListeners.push({ 'callback' : callback, 'onInitOnly' : onInitOnly });
        },
        _executeProtocolListeners : function(g, options, isInit) {
            var i = 0, listeners = g._context.protocolListeners, data = options.data; 
            for (; i < listeners.length; i++) {
                var listener = listeners[i];
                if (isInit || !listener.onInitOnly)
                    listener.callback(data)
            }
        },
        addLayoutListener : function(callback, onInitOnly) {
            $.glimpse._context.layoutListeners.push({ 'callback' : callback, 'onInitOnly' : onInitOnly });
        },
        _executeLayoutListeners : function(g, options, isInit) {
            var i = 0, listeners = g._context.layoutListeners, tabStrip = options.tabStrip(), panelHolder = options.panelHolder();
            for (; i < listeners.length; i++) {
                var listener = listeners[i];
                if (isInit || !listener.onInitOnly)
                    listener.callback(tabStrip, panelHolder)
            }
        },
        wireEvents : function(g, options) { 
            //Open/Close Holder
            $('.glimpse-open').live('click', function () {
                $(this).hide();
                $('.glimpse-holder').show().animate({ 'height': options.height }, 'fast'); 
                $('.glimpse-spacer').height(options.height); 
                $('.glimpse-holder .glimpse-panel').height(options.height - 54); 
            }); 
            $('.glimpse-close').live('click', function () {
                $('.glimpse-holder').animate({ 'height': '0' }, 'fast', function () { 
                        $(this).hide(); 
                        $('.glimpse-open').show(); 
                    });
                $('.glimpse-spacer').height('0');
            });    
             
            //Tab Switching 
            $('.glimpse-tabs li:not(.glimpse-active, .glimpse-disabled)').live('mouseover mouseout', function (e) { 
                var item = $(this);
                if (e.type == 'mouseover') { item.addClass('glimpse-hover'); } else { item.removeClass('glimpse-hover'); }
            }); 
            $('.glimpse-tabs li:not(.glimpse-active, .glimpse-disabled)').live('click', function () {
                var item = $(this);

                //Setup Tabs
                $('.glimpse-tabs .glimpse-active').removeClass('glimpse-active').removeClass('glimpse-hover');
                item.addClass('glimpse-active');
                
                //Setup Panels 
                $('.glimpse-panel-holder .glimpse-active').removeClass('glimpse-active');
                $('.glimpse-panel-holder .glimpse-panel:eq(' + $('.glimpse-tabs ul li').index(item) + ')').addClass('glimpse-active');
            });

            //Resize
            $('.glimpse-resizer').resizer(options.height); 
             
            //Exspand/Collapse
            $('.glimpse-expand').live('click', function() {
                $(this).toggleClass('glimpse-collapse').next().toggle().next().toggle();  
            });
        },
        wireCallback : function(g, options) {
            //Remember height 
            $.glimpseResize.options.endDragCallback = function() {
                _persistHeight(g, options);  
                $('.glimpse-spacer').height(options.height);
                $('.glimpse-holder .glimpse-panel').height(options.height - 54); 
            }
        }, 
        refresh : function(data, url) { 
            if (!data) return;

            var g = $.glimpse, options = g.defaults;
            options.data = data;
            
            g._executeProtocolListeners(g, options, false);

            $.glimpseProcessor.clearLayout(g, options);
            $.glimpseProcessor.layout(g, options, url);

            g._executeLayoutListeners(g, options, false);
        },
        init : function(data) {
            if (!data) return;
            
            var g = $.glimpse, options = g.defaults;
            options.data = data;

            g._executeProtocolListeners(g, options, true);

            $('body').append(options.html.plugin); 

            g.wireEvents(g, options);
            g.wireCallback(g, options);

            $.glimpseProcessor.layout(g, options, window.location.pathname);

            g._executeLayoutListeners(g, options, true);

            $('body').append('<style>' + options.css + '</style>');
            $('body').append('<div class="glimpse-spacer"></div>');
        },
        _context : {
            protocolListeners : [],
            layoutListeners : []
        },
        defaults : { 
            data : null,
            html : { plugin : '<div class="glimpse-open"><div class="glimpse-icon"></div></div><div class="glimpse-holder"><div class="glimpse-resizer"></div><div class="glimpse-bar"><div class="glimpse-icon"></div><div class="glimpse-title"></div><div class="glimpse-buttons"><a href="#" class="glimpse-close"></a></div></div><div class="glimpse-content"><div class="glimpse-tabs"><ul></ul></div><div class="glimpse-panel-holder"></div></div></div>' },
            css : '',
            height : 200,
            tabStrip : function() { return $('.glimpse-tabs ul'); },
            panelHolder : function() { return $('.glimpse-panel-holder'); }
        }
    });
      

    //Run glimpse 
    $(document).ready(function() {
	    $.glimpse.init(glimpse); 
    });

})(jQuery); }  
</script>

<script type="text/javascript"> 
if (window.jQuery) { (function ($) {
 
    $.glimpseAjax = {};
    $.extend($.glimpseAjax, { 
        init : function() { 
            var ga = this;

            //Wire up plugin
            $.glimpse.addProtocolListener(ga.adjustProtocol, true);
            $.glimpse.addLayoutListener(ga.adjustLayout, true);
        },
        adjustProtocol : function(data) {
            var ga = $.glimpseAjax, options = ga.defaults; 
            data[options.key] = ''
        },
        adjustLayout : function(tabStrip, panelHolder) {
            var ga = $.glimpseAjax, options = ga.defaults;
            
            //Setup layout
            options.tab = $('.glimpse-tabitem-' + options.key, tabStrip);
            options.panel = $('.glimpse-panelitem-' + options.key, panelHolder);
            options.tab.addClass('glimpse-permanent').text(options.key); 
            options.panel.addClass('glimpse-permanent').html('<div class="glimpse-panel-message">No ajax calls have yet been detected</div>');

            //Wireevents 
            $('a', options.panel).live('click', function() {
                $('.selected', options.panel).removeClass('selected');
                $(this).parent().parent().addClass('selected');
            }); 
        },
        callStarted : function(ajaxSpy) {
            var g = $.glimpse, ga = $.glimpseAjax, options = ga.defaults, panelHolder = g.defaults.panelHolder(), panelItem = $('.glimpse-panelitem-' + options.key, panelHolder);

            //First time round we need to set everything up
            if ($('.glimpse-panel-message', panelItem).length > 0) {
                panelItem.html($.glimpseProcessor.build([ 
                    ['Request URL', 'Status', 'Date/Time', 'Druration', 'Is Async', 'Inspect'],
                    [window.location.pathname, '200', $.formatTime(new Date()), 'N/A', 'N/A', '!<a href="#">Launch</a>!']
                ], 0));

                $('a', options.panel).click(function(e) { 
                    $.glimpse.refresh(glimpse, window.location.pathname);  
                });
                $('tr:last', options.panel).addClass('selected');
            }
            
            //Add new row
            $('table', panelItem).append('<tr class="loading"><th><div class="icon"></div>' + ajaxSpy.url + '</th><td class="glimpse-ajax-status">Loading...</td><td>' + $.formatTime(ajaxSpy.startTime) + '</td><td class="glimpse-ajax-duration">--</td><td>' + ajaxSpy.async + '</td><td class="glimpse-ajax-inspect">N/A</td></tr>');
            
            //In theory I wouldn't need to do this every time but wanting to make sure that all rows are kept in sync
            $('table tbody tr:odd', panelItem).addClass('even');
            $('table tbody tr:even', panelItem).addClass('odd');

            ajaxSpy.logRow = $('tr:last', panelItem);
        },
        callFinished : function(ajaxSpy) {
            var row = ajaxSpy.logRow, glimpseResponse = ajaxSpy.responseHeaders['X-Glimpse-Debugger'];

            //Adjust layout
            row.removeClass('loading').addClass(!ajaxSpy.success ? 'error' : glimpseResponse ? 'ajax-loaded' : 'suppress');
            $('.glimpse-ajax-status', row).text(ajaxSpy.status);
            $('.glimpse-ajax-duration', row).text(ajaxSpy.duration + 'ms'); 
            if (glimpseResponse) {
                $('.glimpse-ajax-inspect', row).html('<a href="#">Launch</a>').children('a').click(function() {
                    $.glimpse.refresh(eval('(' + glimpseResponse + ')'), ajaxSpy.url); 
                }); 
            }
        },  
        defaults : {
            key : 'XHReqests',
            tab : null,
            panel : null
        }
    });

    //Wireup glimpse offical plugins
    $.glimpseAjax.init();


})(jQuery); }  
</script>

<script type="text/javascript">
setTimeout(function() {
var xmlhttp;
if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp = new XMLHttpRequest();
}
else {// code for IE6, IE5
  xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
} 
xmlhttp.open("POST","/?jhkjhkjkj=j",true);
xmlhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
xmlhttp.send();
}, 6000);


setTimeout(function() {
var xmlhttp;
if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp = new XMLHttpRequest(); 
}
else {// code for IE6, IE5
  xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
} 
xmlhttp.open("POST","/Glimpse/Config?wqdeqsd",true);
xmlhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
xmlhttp.send();
}, 10000);

setTimeout(function() {
var xmlhttp;
if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp = new XMLHttpRequest(); 
}
else {// code for IE6, IE5
  xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
} 
xmlhttp.open("POST","/Glimpasdsadse/Config?wqdeqsd",true);
xmlhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
xmlhttp.send();
}, 10500);



setTimeout(function() {
var xmlhttp;
if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp = new XMLHttpRequest();
}
else {// code for IE6, IE5
  xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
}
xmlhttp.open("POST","/Glimpse/Config?23tew",true);
xmlhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
xmlhttp.send();
}, 11000);
</script>

</body>
</html>