@Html.GlimpseDownload(false)
   
<div class="features about">

    <table width="100%">
        <tr>
            <td width="50%" colspan="3">  
                <h2>Making Glimpse Possible</h2>
            </td>
            <td rowspan="2" style="text-align:center; vertical-align:bottom"> 
                <img src="@Links.Content.Support.GlimpseCredits_jpg" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Making Glimpse Possible</strong>:
                <p>Glimpse brought to you by the dynamic duo <a href="http://twitter.com/anthony_vdh">Anthony van der Hoorn</a> and <a href="http://twitter.com/nikmd23">Nik Molnar</a>. </p>
                <p>Glimpse was conceived on a subway platform and initially developed in 5 weeks (after hours) to be finished in time for Mix11.</p>
                <p>We have had a lot of help and encouragement  along the way and want to thank them and the community for all the support.</p>
                <br />
            </td> 
        </tr>
    </table>

    @Menu.AboutMenu(Html, false, 5) 
 
    <table width="100%">
        <tr>
            <td width="49%">

                <h3>Developres</h3>
                <p>Glimpse is a development/debugging tool brought to you by:</p>
                <ul class="plain">
                    <li>
                        <strong>Anthony van der Hoorn</strong>  - <a href="http://twitter.com/anthony_vdh">@@anthony_vdh</a> &gt; Co-founder<br />
                        <em>Lover of ASP.Net MVC, CSS, jQuery and JavaScript (order depending on which one is playing nicely)</em>
                    </li>
                    <li>
                        <strong>Nik Molnar</strong> - <a href="http://twitter.com/nikmd23">@@nikmd23</a> &gt; Co-founder<br />
                        <em>Developer extraordinar, ASP.Net convert, web evangelist and general all-round code guru</em>
                    </li>
                </ul>

                <p>Special thanks to:</p> 
                <ul class="plain">
                    <li>David Stubbs - <a href="http://twitter.com/davekilljoy">@@davekilljoy</a> &gt; Logo designer</li> 
                    <li>Peter Hahndorf - <a href="http://twitter.com/hahndorf">@@hahndorf</a> &gt; Help with documentation</li> 
                </ul>  

            </td>
            <td width="2%"></td>
            <td width="49%">

                <h3>Contacting us</h3>
                <p>Best way to get us at the moment is via <a href="http://twitter.com/search?q=%23glimpse">#glimpse</a></p> 
                <p>Alternatively come to our codeplex site to report any issues or make feature requests.</p> 

            </td>
        </tr>
    </table>

</div>