@Html.GlimpseDownload(false)
   
<div class="features about">

    <table width="100%">
        <tr>
            <td width="50%">  
                <h2>Glimpse Features</h2>
            </td>
            <td rowspan="2" style="text-align:center; vertical-align:bottom"> 
                <img src="@Links.Content.Support.GlimpsePlatform_jpg" />
            </td>
        </tr>
        <tr>
            <td>
                <p>Given the design behind Glimpse and the architecture it uses, even though Glimpse was initially developed for the 
                .NET platform, there is no reason it can't run on other platform. </p>
                <p>In fact, this was a major consideration when designing 
                Glimpse and formalizing the @Html.ActionLink("Glimpse Protocol", MVC.Protocol.Index())</p>
                <br /><br /> 
            </td> 
        </tr>
    </table>
 
    @Menu.AboutMenu(Html, false, 6) 
 
    <table width="100%">
        <tr>
            <td width="49%"> 

                <h3>Current Status</h3>
                <p>At the moment we have not had the time to start implementing the required Glimpse server components for additional Platforms (i.e. 
                PHP, Ruby on Rails, Node.js, etc). We aim to get there as soon as possible, but in the short terms we are solidly focused on 
                finalizing the @Html.ActionLink("Glimpse Protocol", MVC.Protocol.Index()) and the Glimpse Client.</p>
                <p>Once our time frees up more we want to engage these communities to work out what desire there is for Glimpse to be brought 
                to these platforms and in what way it can deliver value.</p>

            </td>
            <td width="2%">&nbsp;
            </td> 
            <td>

                <h3>Community</h3>
                <p>If you use a non .NET platform and see value in Glimpse being brought to that platform, please let us know. If you 
                would like to help develop the required functionality for another platform, please let us know. The quickest way that 
                Glimpse can make its way to these platforms is with your help. Please reach out and help.</p>
                <div style="font-weight:bold; font-size:1.2em; text-align:center; margin-top:1em">Thank you in advance!!!</div>

            </td> 
        </tr>
    </table>
 
 </div>