@Html.GlimpseDownload(false)
   
<div class="features about">

    <table width="100%">
        <tr>
            <td width="60%">  
                <h2>Quick Start Guide</h2>
            </td>
            <td rowspan="2" style="vertical-align: bottom; text-align:center;">  
                <img src="@Links.Content.Support.GlimpseQuickStart_jpg" />
            </td>
        </tr>
        <tr>
            <td>
                <ol class="plain">
                    <li><strong>Install</strong> the Glimpse server components.</li>
                    <li><strong>Enable</strong> Glimpse for your site on the server.</li>
                    <li><strong>Turn on</strong> Glimpse in the browser by setting a cookie.</li>
                    <li><strong>Click</strong> on the Glimpse logo in the bottom right hand corner of your page.</li>
                </ol>
                The next four sections describe these steps in more detail.<br /><br /><br />
            </td> 
        </tr>
    </table>

    @Menu.AboutMenu(Html, false, 2) 

    <table width="100%">
        <tr>
            <td width="45%"> 

                <h3>Software Requirements</h3>
                Glimpse currently only supports Microsoft's ASP.NET 4, both the Web Forms and MVC variety.<br /><br />
                So you need:
                <ul class="plain">
                    <li>Microsoft IIS6 or higher with ASP.NET 4 installed</li>
                    <li>For MVC projects, you need MVC 3 installed.</li>
                </ul>

            </td>  
            <td width="55%" valign="bottom"> 
                As a side note:
                <ul class="plain">
                    <li>We have not yet tested Mono or IIS 5.1 on Windows XP. </li>
                    <li>In the future we plan to support other platforms and web frameworks.</li>
                </ul>  
            </td>
        </tr>
    </table>

    <hr class="line" />

    <h3>Installation</h3>
    <p>Glimpse has to be added on a per-site basis, not once per server. It does not make any 
    changes outside of your project or web site directory.</p>

    <br />
    <strong>Using Visual Studio 2010 and NuGet</strong>
    <p>This is the easiest way to add Glimpse to your project. </p>
    <p>If you don't have NuGet yet, get it from <a href="http://nuget.codeplex.com">http://nuget.codeplex.com</a> and install it.</p>
    <p>Open the NuGet console: 'View -> Other Windows -> Package Manager Console'</p>
    <p>For a web site or web application project type:</p>
    
    <pre class="csharpcode">Install-Package Glimpse</pre>

    <p>Or for a MVC3 project type:</p>
    <pre class="csharpcode">Install-Package Glimpse.MVC3</pre>
    <p>The package manager will copy new DLLs into your bin directory, make changes to your web.config file and will add a readme file to the App_Readme folder.</p>

    <br />
    <strong>Without Visual Studio</strong><br />
    <p>If you don't have Visual Studio or can't use the NuGet package manager, you can add Glimpse manually to your site.</p>
    <p>
    Follow the instructions on the @Html.ActionLink("manual setup", MVC.Help.Setup()) page.
    </p>

    <br />
    <strong>Deploying Glimpse</strong>
    <p>Glimpse follows the xcopy deployment approach; all you need to do is copy the Glimpse DLL(s) in 
    the bin directory and the changes in your web.config</p>

    <hr class="line" />

    <h3>Configure Glimpse on the server</h3>
    <p>If you installed Glimpse with NuGet you are already good to go, the default settings are meant for local development.</p>
    <p>You can manually configure Glimpse in the web.config file. First we have to tell the ASP.NET configuration system that we have a Glimpse section in web.config. This is done by adding a node to the in the configSections at the very top of the file: </p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">configuration</span><span class="kwrd">&gt;</span>
  <span class="kwrd">&lt;</span><span class="html">configSections</span><span class="kwrd">&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">section</span> <span class="attr">name</span><span class="kwrd">="glimpse"</span> <span class="attr">type</span><span class="kwrd">="Glimpse.Core.Configuration.GlimpseConfiguration"</span> <span class="kwrd">/&gt;</span>
  <span class="kwrd">&lt;/</span><span class="html">configSections</span><span class="kwrd">&gt;</span>
  ...
<span class="kwrd">&lt;/</span><span class="html">configuration</span><span class="kwrd">&gt;</span></pre>


    <p>All the 'real' Glimpse configuration then happens in the node 'Glimpse' which can be anywhere under the root configuration node. By default there is only one setting which turns on Glimpse:</p>
   
   <pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">glimpse</span> <span class="attr">enabled</span><span class="kwrd">="true"</span> <span class="kwrd">/&gt;</span></pre>

    <p>You can turn off Glimpse by setting enable="false". By default Glimpse only works for requests that come from the local machine. To change this and find out about more advanced settings, please check the Configuration section in the Reference part.</p>

    <hr class="line" />

    <h3>Enable Glimpse on the client</h3>
    <p>Glimpse only kicks into life when it finds an http cookie 'glimpseState' with the value 'on' in the request from the browser. There are several ways to get this cookie:</p>
    <ul class="plain">
        <li>Browse to
        <pre class="csharpcode">http://yoursite/glimpse.axd</pre>

        and click on the 'Turn Glimpse On' button.</li>
        <li>If you browser supports bookmarklets you can create one to turn on Glimpse. In Firefox just drag the button onto your bookmarks toolbar or choose 'bookmark this link' in the context menu. In IE9 select the button and choose 'Add to favorites' from the context menu.</li>
        <li>You can manually set the cookie within your site by your own logic based on you own debug settings.</li>
    </ul>
    <p>If you get a "Page not found" when browsing to "/glimpse.axd" check the troubleshooting section in the FAQ.</p>

    <hr class="line" />

    <h3>Using Glimpse on the client</h3>
    <p>After you have turned on Glimpse for the site by setting the cookie, you should see a small eye icon in the lower right hand corner of any dynamic page of your site. Clicking on the icon brings up the Glimpse panel with various tabs. At this point you can browse through all the data presented to you and get a good idea of how this can be helpful to your development process.</p>
    <p>Each tab is described in the reference section and you should have a look there to learn about the more advanced data providers.</p>

</div>