<div class="features about">

<table width="100%">
    <tr>
        <td width="60%">  
<h2>Glimpse Features</h2>
        </td>
        <td rowspan="2">  &nbsp;
        </td>
    </tr>
    <tr>
        <td>


        </td> 
    </tr>
</table>
 
 @Menu.AboutMenu(Html, false, 7) 


 </div>