<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core, Version=1.0.0, Culture=neutral" />
  </configSections>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="/Glimpse.axd">
    <logging level="Trace" />
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.Core.Policy.ControlCookiePolicy, Glimpse.Core"/>
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>
</configuration>