@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="navigation-back"> 
    </div>
    <ul class="navigation"> 
        <li><a href="/">What is Glimpse?</a> <span>Introduction and Features</span></li> 
        <li><a href="http://github.com/Glimpse/Glimpse/">Documentation</a> <span>FAQ and Wiki</span></li> 
        <li><a href="http://github.com/Glimpse/Glimpse/">Community</a><span>Discussion forums and lists</span></li> 
        <li><a href="http://github.com/Glimpse/Glimpse/">Get Involved</a><span>Create extensions</span></li> 
    </ul> 

    <div class="logo">
        <blockquote>What Firebug is for the client, Glimpse does for the server... in other words, a client side Glimpse into whats going on in your server.</blockquote>
        <h1>Glimpse</h1>
        <div>A client side Glimpse to your server</div>
    </div>
     
    <div class="features">
		<div id="contentslider" class="contentslider"> 
			<div class="cs_wrapper"> 
				<div class="cs_slider">  
					<div class="cs_article"> 
<div style="padding-right:35px;">
    <h2>See in Action</h2>
    Here is a demo of Glimpse, for those who couldn’t make it to Open Source Fest, or just want to see more!
    <div style="margin-top:10px; text-align:center;">
        <object width="620" height="380"><param name="movie" value="http://www.youtube.com/v/ke8Rw2BGPG0&rel=0&hl=en_US&feature=player_embedded&version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowScriptAccess" value="always"></param><embed src="http://www.youtube.com/v/ke8Rw2BGPG0&rel=0&hl=en_US&feature=player_embedded&version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="620" height="380"></embed></object>
    </div>
    <div style="position:absolute; right:1.5em; top:220px; font-size:2em; line-height:1em;">Read<br />More</div>
</div>       
                    </div>
					<div class="cs_article">
<div style="padding:0 35px;">
    <h2>Getting Started</h2>
    <div class="scroll-pane"> 
        <ol class="plain">
            <li>Add NuGet package to your project - http://nuget.org/List/Packages/Glimpse </li>
            <li>Turn on Glimpse for your requests (see Bookmarklets in http://www.yoursite.com/Glimpse/Config or in dev http://127.0.0.1/Glimpse/Config)</li>
            <li>Click on the Glimpse in the bottom right hand corner of your site</li>
        </ol>

        <h3>Features</h3>
        <table> 
            <tr>
                <td width="50%">
                    <h4>Route Debugging</h4>
                    Glimpse gives you unprecedented access to runtime routing information, helping you to understand why a given route was chosen, what the route data is set to and what the constraints of the route are.
                </td>
                <td style="padding-bottom:1.5em;">
                    <h4>Tracing in MVC</h4>
                    ASP.NET has always had the ability to leverage Trace.Write() calls to aid in your understanding of run time execution. Unfortunately, this capability is not available in ASP.NET MVC, until now.  Trace.Write() or Debug.Write() to your heart’s content and see it all in Glimpse’s state of the art UI.
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Ajax Support</h4>
                    AJAX has taken the world by storm.  Unfortunately, that storm has traditionally left a dark cloud over our understanding of when, why and how our AJAX requests are being processed.  Glimpse will provide  you full support for AJAX debugging.
                </td>
                <td>
                    <h4>Fully Extensible</h4>
                    Glimpse contains a fully extensible plugin model on both the server and client side. Need to see application specific data? Implement a simple interface to tap into the power of Glimpse.
                </td>
            </tr>
        </table> 
    </div>
</div>
                    </div>
					<div class="cs_article">
<div style="padding:0 35px;">
    <h2>What is Glimpse</h2>
    <div class="scroll-pane"> 
        <table>
            <tr>
                <td>
                    <h3>Overview</h3>
                    At its core Glimpse allows you to debug your Web Service right in the browser. Glimpse allows you to "Glimpse" into what's going on in your web server. In other words what Firebug is to debugging your client side code, Glimpse is to debugging your server within the client.
                    <br /><br />
                    Fundamentally Glimpse is made up of 3 different parts, all of which are extensible and customizable for any platform:
                    <ul class="plain">
                        <li>Glimpse Server Module</li>
                        <li>Glimpse Client Side Viewer</li>
                        <li>Glimpse Protocol</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>How it Works</h3>
                    <strong>On the Server:</strong>
                    <ol class="plain">
                        <li>Server collects all server side information that will aid in debugging (i.e. application settings, routes, session variables, trace data, etc)</li>
                        <li>It does this by running through a pipeline of server side data providers that can be dynamically controlled and added to under plugin architecture</li>
                        <li>Before the response is send, the server formats this data in accordance with the Glimpse Protocol and serializes it as JSON</li>
                        <li>Depending on whether it is a Ajax request or not, the server embeds the JSON in the HTTP Header or in the content of the page</li>
                    </ol>

                    <strong>On the Client:</strong>
                    <ol class="plain">
                        <li>Depending on whether it is a Ajax request or not, the picks up the JSON data and to the data set by executing a pipeline of client side data providers that can be dynamically controlled and added to under plugin architecture</li>
                        <li>The client side module then dynamically renders a client side UI (similar to Firebug Lite) that lets you view this data</li>
                    </ol>

                    Glimpse can be turned on or off by a series of different mechanistic, but at its core if the Glimpse cookie is present the server will provide the "debug" data - as a security measure, the request for debug data is "authenticated". Via the plugin model, this authentication check can have any logic that is required by the site to ensure that unauthorized users don't have access to sensitive debug data.

                </td>
            </tr>
        </table>
    </div>
</div>
                    </div>
					<div class="cs_article">
<div style="padding:0 35px;">
    <h2>Implmention Details</h2>
    <div class="scroll-pane"> 
        <table>
            <tr>
                <td width="50%">
                    <h3>Server</h3>
                    Given the scope of the project and what it can do, the concept isn't restricted to any one platform. Hence, once mature, Glimpse Server Module will be available on all major web platforms.
                    <br /><br />
                    Platforms currently supported:
                    <ul class="plain">
                        <li>ASP.Net Web Forms</li>
                        <li>ASP.Net MVC</li> 
                    </ul>

                    Platforms soon to be supported supported:
                    <ul class="plain">
                        <li>PHP</li> 
                        <li>Ruby on Rails</li> 
                        <li>Node.js</li> 
                    </ul>
                    NOTE - If you would like help develop a Glimpse Server Module for a given platform please let us know. 
                </td>
                <td>
                    <h3>Client</h3>
                    To start with the Glimpse Client Side Viewer is simply a light weight JavaScript "plugin" that understands the Glimpse Protocol and knows how to render the data. From a technology standpoint we currently use jQuery as the client side framework.
                    <br /><br />
                    Eventually, we would like to have actual browser plugins that provide richer functionality and experience, but the JavaScript version of the Glimpse Client Side Viewer is surprisingly well featured, intuitive and provides a high fidelity experience. We also hope to have a version for mobile ready soon which customizes the viewing/usage experience when using a mobile device.
                </td>
            </tr>
        </table> 
    </div>
</div>
                    </div>
					<div class="cs_article">
<div style="padding-left:35px;">
    <h2>People and Contact...</h2>
    <div class="scroll-pane"> 
        <table>
            <tr>
                <td width="50%">
                    <h3>Developres</h3>
                    Glimpse is a development/debugging tool brought to you by:
                    <ul class="plain">
                        <li>
                            <strong>Anthony van der Hoorn</strong>  - <a href="http://twitter.com/anthony_vdh">@@anthony_vdh</a> &gt; Co-founder<br />
                            <em>Lover of ASP.Net MVC, CSS, jQuery and JavaScript (order depending on which one is playing nicely)</em>
                        </li>
                        <li>
                            <strong>Nik Molnar</strong> - <a href="http://twitter.com/nikmd23">@@nikmd23</a> &gt; Co-founder<br />
                            <em>Developer extraordinar, ASP.Net convert, web evangelist and general all-round code guru</em>
                        </li>
                    </ul>

                    Special thanks to:
                    <ul class="plain">
                        <li>David Stubbs - <a href="http://twitter.com/davekilljoy">@@davekilljoy</a> &gt; Logo designer</li> 
                    </ul>  
                    <h3>Contacting us</h3>
                    Best way to get us at the moment is via <a href="http://twitter.com/search?q=%23glimpse">#glimpse</a>.<br /><br />
                    Alternatively come to our codeplex site to report any issues or make feature requests.
                </td>
                <td>
                    <!--
                    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
                    <script>
                    new TWTR.Widget({
                      version: 2,
                      type: 'search',
                      search: '#glimpse',
                      interval: 6000,
                      title: 'What\'s happening in the world of Glimpse',
                      subject: '#Glimpse universe',
                      width: 250,
                      height: 300,
                      theme: {
                        shell: {
                          background: '#8ec1da',
                          color: '#ffffff'
                        },
                        tweets: {
                          background: '#ffffff',
                          color: '#444444',
                          links: '#1985b5'
                        }
                      },
                      features: {
                        scrollbar: false,
                        loop: true,
                        live: true,
                        hashtags: true,
                        timestamp: true,
                        avatars: true,
                        toptweets: true,
                        behavior: 'default'
                      }
                    }).render().start();
                    </script>
                    -->
                </td>
            </tr>
        </table> 
    </div>
</div>
                    </div>
			    </div>
            </div>
        </div>
    </div>

    <div class="download">
        <table width="100%">
            <tr>
                <td  width="300">
                    <h3>How to get Glimpse</h3>
                    <div>Currently ASP.Net build only</div>
                </td>
                <td width="250">
                    <a href="http://nuget.org/List/Packages/Glimpse" class="myButton">Download Now</a>
                </td>
                <td>
                    <a href="http://nuget.org/List/Packages/Glimpse"><img src="./Content/nugetlogo.png" /></a>
                </td>
                <td align="right"> 
                    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.getglimpse.com" data-text="Found #glimpse and think its amazing... what firebug is for the client, #glimpse is for the server" data-count="horizontal" data-via="anthony_vdh" data-related="nikmd23:CoFounder">Tweet</a>
                    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                </td>
            </tr>
        </table>
    </div>

    <div class="footer">
    </div>

</div>

@section scripts {
<script type="text/javascript">
$(document).ready(function() {
	$('#contentslider').ContentSlider({ 
		speed : 800,
		easing : 'easeInOutBack'
	});
    $('.scroll-pane').jScrollPane();
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22715154-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
}