@model dynamic

<h2>Routing/Subdomain</h2>

<p>This tests <a href="http://blog.maartenballiauw.be/post/2009/05/20/ASPNET-MVC-Domain-Routing.aspx">Maarten Balliaw's MVC Domain Routing.</a></p>

<p>This test requires a subdomain either via editing your HOSTS file, or by using a service like <a href="http://readme.localtest.me/">localtest.me</a></p>