<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.2.1" />
  <package id="Antlr4.StringTemplate" version="4.0.6.9004" targetFramework="net35" />
  <package id="Castle.Core" version="3.1.0" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net35" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="Tavis.UriTemplates" version="0.1.1" targetFramework="net35" />
</packages>