@{
    ViewBag.Title = "Error";
}

<h2>Sorry!</h2>

<p>
    We're sorry, we've encountered an unexpected error.
    Would you like to <a href="javascript:history.go(-1)">go back</a>
    and try that again?
</p>