@model IEnumerable<MvcMusicStore.Models.Genre>

<nav id="categories">
    <ul>
        @foreach (var genre in Model)
        {
            <li>@Html.ActionLink(genre.Name,
                    "Browse", "Store",
                    new { Genre = genre.Name }, null)
            </li>
        }

        <li>@Html.ActionLink("More...", "Index", "Store")
        </li>
    </ul>
</nav>