@section PageQuote {
    Glimpse, you guys see this thing? Its spreading like Crack, its just like everyone is saying "have you seen it, have you got some" and everyone else is like "can i get some" -- Scott Hanselman
}
   
<div class="features questions">

    <h2>What are People Saying</h2>

    <table width="100%">
        <tr>
            <td width="50%">
                <h3>Twitter</h3>
                <ul class="plain">
                    <li>
                        @@<a href="http://twitter.com/scottgu">scottgu</a> - Great post by @@<a href="http://twitter.com/shanselman">shanselman</a> on Glimpse - must-have NuGet package for ASP.NET (both WebForms+MVC)
                    </li>
                    <li> 
                        @@<a href="http://twitter.com/shanselman">shanselman</a> - Devs: This new ASP.NET MVC tool was the coolest OSS thing I've seen at #Mix11. I used it in my talk! <a href="http://getglimpse.com">http://getglimpse.com</a>
                    </li>
                    <li>
                        @@<a href="http://twitter.com/scottgu">scottgu</a> - RT @@<a href="http://twitter.com/shanselman">shanselman</a>: Devs: This new ASP.NET MVC tool was the coolest OSS thing I've seen at #Mix11. I used it in my talk! <a href="http://getglimpse.com">http://getglimpse.com</a>
                    </li>
                    <li>
                        @@<a href="http://twitter.com/haacked">haacked</a> - RT @@<a href="http://twitter.com/shanselman">shanselman</a>: Devs: This new ASP.NET MVC tool was the coolest OSS thing I've seen at #Mix11. I used it in my talk! <a href="http://getglimpse.com">http://getglimpse.com</a>
                    </li>
                    <li>
                        @@<a href="http://twitter.com/bradwilson">bradwilson</a> - Wow, Glimpse for MVC is pretty bad ass! <a href="http://getglimpse.com">http://getglimpse.com</a> #aspnetmvc /via @@<a href="http://twitter.com/shanselman">shanselman</a>
                    </li>
                    <li>
                        @@<a href="http://twitter.com/PhatBoyG">PhatBoyG</a> - Glimpse is one of the first truly innovative NuGet packages and hopefully a sign of great things to come: <a href="http://getglimpse.com">http://getglimpse.com</a>
                    </li> 
                    <li>
                        @@<a href="http://twitter.com/nazgargol">nazgargol</a> - This thing is amazing. So much stuff that I need in one place. #glimpse <a href="http://getglimpse.com">http://getglimpse.com</a> via @@<a href="http://twitter.com/anthony_vdh">anthony_vdh</a> @@<a href="http://twitter.com/nikmd23">nikmd23</a>
                    </li> 
                    <li>
                        @@<a href="http://twitter.com/Josemalive">Josemalive</a> - One of the best tools i've ever seen for real web debugging Asp.net webforms. MVC <a href="http://getglimpse.com">http://getglimpse.com</a> (next php, ruby..) #MVC #Aspnet
                    </li> 
                    <li>
                        @@<a href="http://twitter.com/MattioV">MattioV</a> - Wow. I can see #glimpse being incredibly helpful. <a href="http://getglimpse.com">http://getglimpse.com</a>
                    </li>
                    <li>
                        @@<a href="http://twitter.com/mkennedy">mkennedy</a> - @@<a href="http://twitter.com/shanselman">shanselman</a> is right, #glimpse rocks for MVC <a href="http://getglimpse.com">http://getglimpse.com</a>
                    </li>
                    <li>
                        @@<a href="http://twitter.com/kurtschindler">kurtschindler</a> - Joining the #glimpse bandwagon. This thing looks awesome. Firebug for the server. <a href="http://getglimpse.com">http://getglimpse.com</a>
                    </li>
                    <li>
                        @@<a href="http://twitter.com/RichardReddy">RichardReddy</a> - Holy smokes #glimpse is freakin awesome! <a href="http://getglimpse.com">http://getglimpse.com</a> Great work, thanks :D
                    </li>
                    <li>
                        @@<a href="http://twitter.com/eoinc">eoinc</a> - if ur a .net web dev this is probably gonna be the coolest thing you've seen in a while - <a href="http://getglimpse.com">http://getglimpse.com</a> absolutely awesome #glimpse
                    </li>
                </ul>
            </td>
            <td>
                <h3>Blogs</h3>
                <ul class="plain">
                    <li> 
                        <strong>NuGet Package of the Week #5 - Debugging ASP.NET MVC applications with Glimpse</strong> - <em>Scott Hanselman</em><br />
                        Glimpse is like the FireBug client side debugger, except it's implemented in JavaScript on the client side with hooks in to ASP.NET on the Server Side. Glimpse includes not only better Route Debugging support than Phil Haack's original Route Debugger, but also excellent support for the little used but totally useful Trace.Write(). <a href="http://www.hanselman.com/blog/NuGetPackageOfTheWeek5DebuggingASPNETMVCApplicationsWithGlimpse.aspx">Read More</a>.
                    </li>
                    <li> 
                        <strong>RouteDebugger 2.0</strong> - <em>Phil Haack</em><br />
                        One of  my favorite projects is also a NuGet package named Glimpse Web Debugger. It adds a FireBug like experience for grabbing server-side diagnostics from an ASP.NET MVC application while looking at it in your browser. It provides a browser plug-in like experience without the plug-in. <a href="http://haacked.com/archive/2011/04/13/routedebugger-2.aspx">Read More</a>.
                    </li>
                    <li> 
                        <strong>Glimpse Web Debugger and ASP.NET MVC 3 Route Debugger 2.0</strong> - <em>David Hayden</em><br />
                        Glimpse Web Debugger - An interesting browser plug-in like Firebug that helps you debug things happening with ASP.NET MVC 3 on the server. Available as a Nuget Package. <a href="http://davidhayden.com/blog/dave/archive/2011/04/15/GlimpseWebDebuggerASPNETMVC3RouteDebugger2.aspx">Read More</a>.
                    </li>
                    <li> 
                        <strong>Glimpse Web Debugging: Firebug for the Server side</strong> - <em>Code-Inside Blog International</em><br />
                        How do I get to know what’s happening inside a web application without a lot of logging or to stop with the debugger everywhere? Today I was introduced to a nice helper: Glimpse – it works almost similar to firebug but it analyzes the server side. <a href="http://code-inside.de/blog-in/2011/04/17/glimpse-web-debugging-firebug-for-the-server-side/">Read More</a>.
                    </li>
                    <li> 
                        <strong>Glimpse, Firebug for your server</strong> - <em>ASPNet.sk</em><br />
                        Currently still in beta, but already adder for your WebForms and MVC, which can not be described better as the authors themselves are on the web - what does firebug for a client, it makes for a Glimpse server. <a href="http://www.aspnet.sk/News-Glimpse-FireBug-pre-vas-server-101912.aspx">Read More</a>.
                    </li>
                    <li> 
                        <strong>Glimpse - server "firebug" for ASP.NET projects</strong> - <em>Vladimir Yunev: blog</em><br />
                        ASP.NET developers have a unique tool that can ease their lives. The project is open source Glimpse created an enthusiastic web development offers what may be called a server edition of the popular debugging firebug (extension for Firefox). <a href="http://vyunev.wordpress.com/2011/04/17/glimpse-%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80%D0%BD%D1%8B%D0%B9-firebug-%D0%B4%D0%BB%D1%8F-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%BE%D0%B2-asp-net/">Read More</a>.
                    </li>
                </ul>
            </td>
        </tr>
    </table>
        
    <h3>Videos</h3>
    <strong>An Overview of the MS Web Stack of Love</strong> - <em>Scott Hanselman</em><br />
    <div style="margin-bottom:0.5em">To see glimpse in action look at the video and skip forward to 49:45... <a href="http://channel9.msdn.com/Events/MIX/MIX11/FRM02">Full Video</a></div>
    <div style="text-align:center; margin-bottom:2em; margin-left:-25px">
        <iframe style="height:544px;width:960px" src="http://channel9.msdn.com/Events/MIX/MIX11/FRM02/player?w=960&amp;h=544" frameBorder="0" scrolling="no" ></iframe>
    </div>
    
    <strong>MVC 3 – 101</strong> - <em>Scott Hanselman</em><br />
    <div style="margin-bottom:0.5em">To see glimpse in action look at the video and skip forward to 58:45... <a href="http://channel9.msdn.com/Events/DevDays/DevDays-2011-Netherlands/Devdays002">Full Video</a></div>
    <div style="text-align:center; margin-left:-25px">
        <iframe style="height:484px;width:956px" src="http://channel9.msdn.com/Events/DevDays/DevDays-2011-Netherlands/Devdays002/player?w=956&amp;h=484" frameBorder="0" scrolling="no" ></iframe>
    </div>
</div> 