@*@section PageQuote {
    One of  my favorite projects...
    It adds a FireBug like experience for grabbing server-side diagnostics 
    from an ASP.NET MVC application while looking at it in your browser -- Phil Haack
}*@

@Html.GlimpseDownload(false)

<div class="features questions about"> 

    <table width="100%">
        <tr>
            <td width="50%" colspan="3">  
                <h2>Frequently Asked Questions</h2>
            </td>
            <td rowspan="2" style="text-align:center; vertical-align:bottom"> 
                <img src="@Links.Content.Support.GlimpseSupport_jpg" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Need to find an answer?</strong>
                <p>In the below we have tried to answer some of your questions. Most likely we will have 
                missed what you are specifically after. Make sure you checkout the @Html.ActionLink("Help", MVC.Help.Index()) 
                section of the site as well.</p>
                <p>If this doesn't answer your question tweet us using #Glimpse or hop on Stackoverflow 
                and make sure you tag your question with "Glimpse".</p>
                <br /><br />
            </td> 
        </tr>
    </table>

    @Menu.AboutMenu(Html, false, 3) 

    <h3>General</h3>
    <ol class="plain">
        <li>
            <div class="question">What is glimpse?</div>
            What Firebug is for the client, Glimpse does for the server. In other words, a client side Glimpse into what's going on in your server.
        </li> 
        <li>
            <div class="question">What version of .NET does glimpse support?</div> 
            Our current build is against .NET 4.0. That said, we are aware that many of you are still using .NET 3.5. Hence we are currently working on 
            a build for 3.5. At the moment we have no plans to support anything pre .NET 3.5. If you feel we should target earlier versions of the 
            framework just tweet us.
        </li>
        <li>
            <div class="question">What versions of ASP.NET MVC are officially supported?</div> 
            At the moment only MVC3 is "officially" supported. However, if the machine you are running Glimpse on has MVC3 installed (i.e. the MVC3 dll's 
            are in the GAC), MVC2 projects will work - note this currently isn't officially supported as when you move to prod, you could have issues 
            if the server doesn't have MVC3.
        </li>
        <li>
            <div class="question">Is Glimpse only for ASP.NET MVC?</div> 
            NO! The currently build has dependencies on MVC. That said, when we have another build that doesn't have these dependencies, we have something 
            that works quite nicely for Web Forms projects. 
        </li>
        <li>
            <div class="question">Is Glimpse just for .NET?</div> 
            NO! If you have a look at the technology stack description, you will learn that only the server side components are currently tied to .NET. 
            Glimpse has been specifically designed so that the client will work with any server technology and that the Glimpse Protocol 
            has no dependency on .NET. It is our hope that in the future others will write Glimpse Server components for other frameworks which leverage 
            the Glimpse Protocol and common Glimpse Client. Please contact us if this is something you would like to see sooner rather than later.
        </li>
        <li>
            <div class="question">Who is responsible for Glimpse?</div> 
            Glimpse was created by <strong>Anthony van der Hoorn</strong> (<a href="http://twitter.com/anthony_vdh">@@anthony_vdh</a>) and <strong>Nik Molnar</strong> (<a href="http://twitter.com/nikmd23">@@nikmd23</a>)
        </li>
        <li>
            <div class="question">Can Glimpse help me with other .NET web technologies like SharePoint, Orchard, etc?</div> 
            Developing plugins for these frameworks is on our roadmap. As soon as we get the core of Glimpse solidified, we will start on these pieces. If
            however you can see value in having these plugins sooner rather than later please get in contact and fell free to contribute.
        </li>
        <li>
            <div class="question">Can or should I use Glimpse in a production environment?</div>
            <p>You certainly can and it may be helpful when debugging problems on a live server where you do not have the ability to run the Visual Studio debugger. However be aware that Glimpse sends a lot of potentially dangerous data to the client which should not be visible to a normal user.</p>
            <p>Ideally you want to keep the Glimpse default settings whom only supports its usage on the local machine. This means you need to debug in a web browser on the server itself. This way no information does actually leave the server.</p>
            <p>If you can't do that and need to use a remote browser, you need to configure Glimpse to allow your IP address:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">glimpse</span> <span class="attr">enabled</span><span class="kwrd">="true"</span><span class="kwrd">&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">ipAddresses</span><span class="kwrd">&gt;</span>
      <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">address</span><span class="kwrd">="127.0.0.1"</span> <span class="kwrd">/&gt;</span>
      <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">address</span><span class="kwrd">="10.10.10.50"</span> <span class="kwrd">/&gt;</span>
      <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">address</span><span class="kwrd">="::1"</span> <span class="kwrd">/&gt;</span>
    <span class="kwrd">&lt;/</span><span class="html">ipAddresses</span><span class="kwrd">&gt;</span>
<span class="kwrd">&lt;/</span><span class="html">glimpse</span><span class="kwrd">&gt;</span></pre>

            <p>In more cases you only need to provide your IPv4 address as most live servers and the network equipment around them are still operating on IPv4.</p>
            <p>Make sure to disable Glimpse in the web.config on the live server after you are done with the debugging.</p>
        </li>
        <li>
            <div class="question">How to I uninstall Glimpse?</div>
            Simply remove the Glimpse DLL(s) from your bin directory and the two Glimpse related nodes from you web.config file.
        </li>
        <li>
            <div class="question">Does Glimpse work over SSL?</div>
            Yes, we are just transferring additional data in the encrypted request.
        </li>
        <li>
            <div class="question">What browsers does Glimpse work in?</div>
            We devlop using: Chrome 12, Firefox 4 and IE9. We try and test using: IE8+, Firefox 3.5+, Chrome 8+. In IE6 you see the tabs and some data but it doesn't really work. We don't plan to fix this. Use a better browser.
        </li>
    </ol> 
    
    <hr class="line" />

    <h3>Troubleshooting</h3>
    <ol class="plain">
        <li>
            <div class="question">I can get to /glimpse.axd but do not see the glimpse logo on my pages?</div>
            On /glimpse.axd check the "Your Settings" section and review your IP, if it says anything but 127.0.0.1 Glimpse will not work until you enabled that address. Check the configuration section in the reference part to learn how to do this.
        </li>  
        <li>
            <div class="question">Why are some of the tabs greyed out?</div>
            This is because no relevant data for this tab exists. For example the Session tab may be greyed out because there is either no data in session state or this feature is completely disabled on the server. <br /><br />
            In other cases the tab is greyed out because no data exist for this particular request, but other requests may provide data for the tab.<br /><br />
            If you are sure you never get data for a tab, you can remove the tab by blacklisting the plugin. See 'Blacklist for plugins' in the configuration section.
        </li>  
        <li>
            <div class="question">I am tracing, but the Trace tab is still greyed out?</div>
            Have a look at the trace settings in your web.config:   <br /><br />

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">trace</span> <span class="attr">enabled</span><span class="kwrd">="true"</span> <span class="attr">requestLimit</span><span class="kwrd">="40"</span> <span class="attr">localOnly</span><span class="kwrd">="true"</span> <span class="attr">pageOutput</span><span class="kwrd">="false"</span> 
    <span class="attr">writeToDiagnosticsTrace</span><span class="kwrd">="true"</span> <span class="kwrd">/&gt;</span></pre>
    
    
    <br />
            Make sure writeToDiagnosticsTrace is set to true, and turn pageOutput is false. If you not local, also set localOnly="false"

        </li>
             <li>
            <div class="question">The trace tab works on the very first request but not thereafter?</div>
            The requestLimit attribute on the trace node specifies the number of trace requests 
            to store on the server. If the limit is reached, trace is automatically disabled. 
            By default this value is 10, so if you don't have a higher number and you have 
            more than 10 requests related to a page, trace is disabled. 
            With 40 as in the example above, you should be on the save side, 
            you can also set the mostRecent attribute to true. 
            This means even if there are more requests than the limit the most recent requests are 
            used and trace is not disabled.
            <br /><br />

            <pre class="csharpcode">
  <span class="kwrd">&lt;</span><span class="html">trace</span> <span class="attr">writeToDiagnosticsTrace</span><span class="kwrd">="true"</span> <span class="attr">enabled</span><span class="kwrd">="true"</span> <span class="attr">pageOutput</span><span class="kwrd">="false"</span> 
     <span class="attr">localOnly</span><span class="kwrd">="true"</span> <span class="attr">requestLimit</span><span class="kwrd">="40"</span> <span class="attr">mostRecent</span><span class="kwrd">="true"</span> <span class="kwrd">/&gt;</span></pre>

            </li>
    </ol> 
</div>