.glimpse .pln{color:#000}
.glimpse .str{color:#080}
.glimpse .kwd{color:#008}
.glimpse .com{color:#2F4F2F}
.glimpse .typ{color:#606}
.glimpse .lit{color:#800}
.glimpse .pun,.glimpse .opn, .glimpse .clo{color:#660}
.glimpse .tag{color:#008}
.glimpse .atn{color:#606}
.glimpse .atv{color:#080}
.glimpse .dec, .glimpse .var{color:#606}
.glimpse .fun{color:red}
.glimpse .prettyprint span{font-family:Consolas, monospace, serif; font-size:1.1em;}
.glimpse ol.linenums{margin-top:0;margin-bottom:0}
.glimpse li.L0,.glimpse li.L1,.glimpse li.L2,.glimpse li.L3,.glimpse li.L5,.glimpse li.L6,.glimpse li.L7,.glimpse li.L8{list-style-type:none}
.glimpse li.L1,.glimpse li.L3,.glimpse li.L5,.glimpse li.L7,.glimpse li.L9{background:#eee}