<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="glimpse" type="Glimpse.Core2.Configuration.GlimpseSection, Glimpse.Core2" />
    </configSections>


    <glimpse defaultRuntimePolicy="On" serviceLocatorType="Glimpse.Test.Core2.TestDoubles.DummyServiceLocator, Glimpse.Test.Core2">
        <logging level="Warn"/>
        <clientScripts autoDiscover="true">
            <ignoredTypes>
                <add type="Glimpse.Core2.ClientScript.Data, Glimpse.Core2"/>
            </ignoredTypes>
        </clientScripts>
        <runtimePolicies>
            <contentTypes>
                <clear/>
                <add contentType="test\value"/>
            </contentTypes>
        </runtimePolicies>
    </glimpse>
</configuration>