@Html.GlimpseDownload(false)
   
<div class="features help">

    <table width="100%">
        <tr>
            <td width="50%">  
                <h2>Configuration</h2>
            </td>
            <td rowspan="2" style="text-align:center; vertical-align:bottom"> 
                @*<img src="@Links.Content.Support.GlimpsePlatform_jpg" />*@
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <p>On the server all configuration happens in the glimpse section of your web.config. When installing Glimpse 
                using NuGet only a minimal configuration is set. There are defaults for all the 
                optional settings which are described here. </p>
                <br /> 
            </td> 
        </tr>
    </table>
 
    @Menu.HelpMenu(Html, false, 6) 
     
    <h3>ConfigSections</h3>

    @SharedHelp.ConfigSections(Html) 

    <hr class="line" />
     
    <h3>Root</h3>
    <p>The minimum configuration you need to get Glimpse working is as follows.</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">glimpse</span> <span class="attr">enabled</span><span class="kwrd">="true"</span> <span class="kwrd">/&gt;</span></pre>

    <p>All settings for Glimpse are within a Glimpse node under &lt;configuration&gt; The Glimpse node itself can have four optional attributes:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">glimpse</span> <span class="attr">enabled</span><span class="kwrd">="false"</span> <span class="attr">loggingEnabled</span><span class="kwrd">="false"</span> <span class="attr">requestLimit</span><span class="kwrd">="15"</span><span class="kwrd">&gt;</span>
    ...
<span class="kwrd">&lt;/</span><span class="html">glimpse</span><span class="kwrd">&gt;</span></pre>

    <ul class="plain">
        <li><strong>enabled</strong>: is a boolean with a default value of "false". It allows us to turn off Glimpse completely. </li>
        <li><strong>requestLimit</strong>: is an integer with a default value of 15. Glimpse "remembers" the debug information for a number of requests on the server.  This is important for the Ajax and Remote tabs to work. This number defines how many requests are stored.</li>
        <li><strong>loggingEnabled</strong>: another boolean with a default value of "false". This is used for internal debugging only and should not be changed. </li>
    </ul>

    The following sections are all sub-sections of the main Glimpse section.
     
    <hr class="line" />

                <h3>IP addresses</h3>
                <p>Our first section enables the IP address filtering:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">ipAddresses</span><span class="kwrd">&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">address</span><span class="kwrd">="127.0.0.1"</span> <span class="kwrd">/&gt;</span>
    <span class="rem">&lt;!--IPv4--&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">address</span><span class="kwrd">="::1"</span> <span class="kwrd">/&gt;</span>
    <span class="rem">&lt;!--IPv6--&gt;</span>
<span class="kwrd">&lt;/</span><span class="html">ipAddresses</span><span class="kwrd">&gt;</span></pre>

                <p>Shown here are the defaults, meaning Glimpse only accepts requests from the local machine. If the browser is on a different machine from the server, the Glimpse server component will ignore the Glimpse cookie and will not send any data to the browser.</p>
                <p>If you want to use Glimpse in a remote browser you need to add the IP address of that machine. This is straightforward when you are only using IPv4, however on Vista and Windows 7 you may be on IPv6 only. Use "ipconfig" in cmd.exe to find out the IPv6 address of the machine with the browser and then add it to the allowed addresses:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">ipAddresses</span><span class="kwrd">&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">address</span><span class="kwrd">="127.0.0.1"</span> <span class="kwrd">/&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">address</span><span class="kwrd">="192.168.100.59"</span> <span class="kwrd">/&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">address</span><span class="kwrd">="::1"</span> <span class="kwrd">/&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">address</span><span class="kwrd">="fe80::f17e:d177:359f:6cee%14"</span> <span class="kwrd">/&gt;</span>
<span class="kwrd">&lt;/</span><span class="html">ipAddresses</span><span class="kwrd">&gt;</span>
</pre>


    <hr class="line" />


                <h3>Blacklist for plugins</h3>
                <p>The next section is the blacklist for plugins, the default is empty:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">pluginBlacklist</span><span class="kwrd">/&gt;</span></pre>

                <p>Which means we don't blacklist any plugins and all available plugins send data down to the browser. You can remove certain plugins by adding them to the section like this:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">pluginBlacklist</span><span class="kwrd">&gt;</span>
      <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">plugin</span><span class="kwrd">="Glimpse.Mvc3.Plugin.MetaData"</span> <span class="kwrd">/&gt;</span>
      <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">plugin</span><span class="kwrd">="Glimpse.Mvc3.Plugin.Binders"</span> <span class="kwrd">/&gt;</span>
      <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">plugin</span><span class="kwrd">="Foo.Bar.GlimpsPlugins.CurrentUser"</span> <span class="kwrd">/&gt;</span>
<span class="kwrd">&lt;/</span><span class="html">pluginBlacklist</span><span class="kwrd">&gt;</span></pre>


                <p>The string in the plugin attribute must be the class name of the plugin including the full namespace.</p>
                <p>Why would you want to do this? Maybe there is a plugin that you never use and it just fills up the space in the tab bar. Or when in a production environment there are certain plugins that reveal too much information to a user. Other reasons may be that one of you own plugins is not stable, or that a plugin can cause performance issues in certain cases.</p>
                <p>To see a list of the plugins that you can blacklist, simply go to your /Glimpse.axd page. This shows a list of all plugins that Glimpse has detected (both official Glimpse Plugins and 3rd Party plugins) and which ones are currently disabled (if you have disabled any).</p>


    <hr class="line" />


                <h3>Content Types</h3>
                <p>Next up are the content types, the default is:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">contentTypes</span><span class="kwrd">&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">contentType</span><span class="kwrd">="text/html"</span> <span class="kwrd">/&gt;</span>
    <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">contentType</span><span class="kwrd">="application/json"</span> <span class="kwrd">/&gt;</span>
<span class="kwrd">&lt;/</span><span class="html">contentTypes</span><span class="kwrd">&gt;</span></pre>

                <p>This means Glimpse is only attaching its data to responses with a content type or text/html and application/json which is the majority of web pages. </p>
                <p>Note, for ajax requests a Glimpse identifier is added to the http response headers and the Glimpse data is then later retrieved. This is intended so that Glimpse doesn't affect the data in your Ajax response.</p>


    <hr class="line" />


                <h3>Environments</h3>
                <p>Finally we have environments, again the default is empty:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">environments</span><span class="kwrd">/&gt;</span></pre>

                <p>But you may want something like this:</p>

<pre class="csharpcode">
<span class="kwrd">&lt;</span><span class="html">environments</span><span class="kwrd">&gt;</span>
      <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">name</span><span class="kwrd">="Dev"</span> <span class="attr">authority</span><span class="kwrd">="localhost:33333"</span> <span class="kwrd">/&gt;</span>
      <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">name</span><span class="kwrd">="Test"</span> <span class="attr">authority</span><span class="kwrd">="test.getglimpse.com"</span> <span class="kwrd">/&gt;</span>
      <span class="kwrd">&lt;</span><span class="html">add</span> <span class="attr">name</span><span class="kwrd">="Prod"</span> <span class="attr">authority</span><span class="kwrd">="getglimpse.com"</span> <span class="kwrd">/&gt;</span>
<span class="kwrd">&lt;/</span><span class="html">environments</span><span class="kwrd">&gt;</span></pre>

                 <p>Defining your environments like this allows glimpse to show you what environment you are currently in and allows you to switch to another one of the defined environments using the current context. At the moment this context only extends to the URL but it makes trying to compare environments when you notice something out of the ordinary much easier than it might be normally.</p>
 

    <hr class="line" />


    <h3>Handler and Module configuration</h3>
    <p>Glimpse uses an http handler and an http module to do its magic. If you've install Glimpse via NuGet
    all the required changes to your web.config are made for you. If you've installed Glimpse manually here's
    what you need to change.</p>

    @SharedHelp.ModuleHandlerConfig(Html) 



</div>