<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.2.0" targetFramework="net40" />
  <package id="StyleCop.MSBuild" version="4.7.46.1" targetFramework="net40" />
  <package id="WindowsAzure.ServiceBus" version="2.2.1.1" targetFramework="net40" />
</packages>